openapi: 3.2.0
info:
  title: Ascribe Coder Study Respondents API
  description: To import this API to Postman, copy the URL from the top of this page.
  contact:
    email: support@goascribe.com
  version: v2
servers:
- url: https://api.goascribe.us/coder/v2
  description: US Servers
- url: https://api.goascribe.eu/coder/v2
  description: EU Servers
- url: https://api-ca.goascribe.com/coder/v2
  description: CA Servers
security:
- Bearer: []
tags:
- name: StudyRespondents
paths:
  /Studies/{studyKey}/Respondents:
    delete:
      tags:
      - StudyRespondents
      summary: Delete a batch of respondents from the study by using an array of respondent ids
      description: Method deletes a batch of respondents by using an array of respondent ids
      parameters:
      - name: studyKey
        in: path
        description: The key for the study from which to delete respondents
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: Array of respondent ids
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteStudyRespondentsRequest'
            example:
              respondentIds:
              - RID1
              - RID2
              - RID3
          text/json:
            schema:
              $ref: '#/components/schemas/DeleteStudyRespondentsRequest'
            example:
              respondentIds:
              - RID1
              - RID2
              - RID3
          application/*+json:
            schema:
              $ref: '#/components/schemas/DeleteStudyRespondentsRequest'
            example:
              respondentIds:
              - RID1
              - RID2
              - RID3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteStudyRespondentsResponse'
              example:
                failedDeletions:
                - respondentID: RID1
                  errorMessage: Example error message
                - respondentID: RID2
                  errorMessage: Responses for Respondent ID not found
                notFoundRespondentIds:
                - RID2
                errorMessage: null
      operationId: deleteStudiesByStudyKeyRespondents
      x-operation-id-source: derived
components:
  schemas:
    DeleteStudyRespondentFailure:
      type: object
      properties:
        respondentID:
          type:
          - string
          - 'null'
          description: ID of the respondent that failed to be deleted
        errorMessage:
          type:
          - string
          - 'null'
          description: Error message describing why the deletion failed
      additionalProperties: false
      description: Represents a failure to delete a study respondent
    DeleteStudyRespondentsRequest:
      type: object
      properties:
        respondentIds:
          type:
          - array
          - 'null'
          items:
            type: string
          description: List of respondent identifiers to be deleted
      additionalProperties: false
      description: Request model for deleting study respondents
    DeleteStudyRespondentsResponse:
      type: object
      properties:
        errorMessage:
          type:
          - string
          - 'null'
        failedDeletions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DeleteStudyRespondentFailure'
          description: List of Respondent Ids that failed to be deleted
        notFoundRespondentIds:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Array of respondents with no responses found
      additionalProperties: false
      description: Response of DeleteStudyRespondents API method
  securitySchemes:
    Bearer:
      type: http
      description: 'Please enter a valid bearer token.


        It should be in the format "bearer eyJhbGciOiJSU..."


        It will be added to the "Authentication" HTTP header'
      scheme: Bearer
      bearerFormat: JWT
