openapi: 3.2.0
info:
  title: Ascribe Coder Companies API
  description: To import this API to Postman, copy the URL from the top of this page.
  contact:
    email: support@goascribe.com
  version: v2
servers:
- url: https://api.goascribe.us/coder/v2
  description: US Servers
- url: https://api.goascribe.eu/coder/v2
  description: EU Servers
- url: https://api-ca.goascribe.com/coder/v2
  description: CA Servers
security:
- Bearer: []
tags:
- name: Companies
paths:
  /Companies:
    get:
      tags:
      - Companies
      summary: Get a list of Companies
      description: This operation returns the key and ID of all Companies in the Ascribe Account.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCompaniesResponse'
              example:
                companies:
                - key: 3
                  id: ACME
                - key: 5
                  id: AAA Research
                errorMessage: null
      operationId: getCompanies
      x-operation-id-source: derived
    post:
      tags:
      - Companies
      summary: Create a new Company
      description: 'The id assigned to the company must not already exist.


        The maximum length of the id is 100 characters.

        The id must not begin with an underscore character ''_''.'
      requestBody:
        description: The information for the new Company.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNewCompanyRequest'
            example:
              id: ACME
          text/json:
            schema:
              $ref: '#/components/schemas/CreateNewCompanyRequest'
            example:
              id: ACME
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateNewCompanyRequest'
            example:
              id: ACME
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNewCompanyResponse'
              example:
                key: 3
                id: ACME
                errorMessage: null
      operationId: postCompanies
      x-operation-id-source: derived
components:
  schemas:
    GetCompaniesResponse:
      required:
      - companies
      type: object
      properties:
        errorMessage:
          type:
          - string
          - 'null'
        companies:
          type: array
          items:
            $ref: '#/components/schemas/Company'
          description: List of Companies
      additionalProperties: false
      description: Response contains list of available companies
    Company:
      required:
      - id
      - key
      type: object
      properties:
        key:
          type: integer
          description: 'Identifying key for the Company.


            This key will not change for the lifetime of the Company.'
          format: int32
        id:
          minLength: 1
          type: string
          description: "The id of the Company.\n  \nThis id is unique among Companies, but may be changed by the user."
      additionalProperties: false
      description: A company
    CreateNewCompanyRequest:
      required:
      - id
      type: object
      properties:
        id:
          maxLength: 100
          minLength: 1
          type: string
          description: "The id for the new Company, which must be unique among all Companies by case insensitive comparison.\n\nThe id provided will be trimmed of leading and trailing whitespace.\n  \nThe trimmed value must be from 1 to 100 characters in length and may not start with an underscore character '_'."
      additionalProperties: false
      description: Request to create a new Company
    CreateNewCompanyResponse:
      type: object
      properties:
        errorMessage:
          type:
          - string
          - 'null'
        key:
          type: integer
          description: The key assigned to the new Company.
          format: int32
        id:
          type:
          - string
          - 'null'
          description: The id of the new Company, which is trimmed of leading and trailing whitespace.
      additionalProperties: false
      description: Response contains information about the newly created company
  securitySchemes:
    Bearer:
      type: http
      description: 'Please enter a valid bearer token.


        It should be in the format "bearer eyJhbGciOiJSU..."


        It will be added to the "Authentication" HTTP header'
      scheme: Bearer
      bearerFormat: JWT
