openapi: 3.0.4
info:
  title: Ascribe Coder AICoder Codebooks API
  description: <br/>      To import this API to Postman, copy the URL from the top of this page.<br/>      Open Postman, and select Import.<br/>      In the dialog select 'Import From Link'.<br/>      Paste the URL and click Import.<br/><br/>      To use this API interactively from this page, open the POST Sessions operation below.<br/>      Click the Example Value in the Parameters section to move it to the request.<br/>      Modify the request with your credentials, then click "Try it out!"<br/>      Copy the value of the bearerToken returned in the response to the api_key text box at the top of this page.<br/>      You can now interact with the other resources on this page.<br/>      You can save the bearer token for future use without needing to POST to the Sessions resource again.
  contact:
    email: support@goascribe.com
  version: v2
servers:
- url: https://api.goascribe.us/coder/v2
  description: US Servers
- url: https://api.goascribe.eu/coder/v2
  description: EU Servers
- url: https://api-ca.goascribe.com/coder/v2
  description: CA Servers
security:
- Bearer: []
tags:
- name: Codebooks
paths:
  /Codebooks/{codebookKey}:
    get:
      tags:
      - Codebooks
      summary: Get a Codebook by its key
      description: "Each Question has exactly one Codebook, which may be shared across multiple Questions.\r\n\r\nA Codebook is tree-structured, where the leaf nodes are Codes and non-leaf nodes are Nets.  Only Codes may be used to code a Response.\r\n\r\n\r\nThis resource can return the Codes in the Codebook as a flattened list containing only the Codes, or as a tree with the full structure of the Codebook.\r\n"
      parameters:
      - name: codebookKey
        in: path
        description: The Codebook key, which must be an integer value.
        required: true
        schema:
          type: integer
          format: int32
      - name: tree
        in: query
        description: "Optional query parameter.\r\n\r\n            If true, return a tree-structured representation of the Codebook.\r\n  \r\n            When tree=false (the default) only the Codes are returned (no Nets) as a single list."
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCodebookResponse'
              example:
                codebookKey: 1234567
                codebook:
                - key: 1
                  description: Code1
                  inputId: '10'
                  outputId: '10'
                  regexPattern: null
                  color: '#FF0000'
                  children: null
                - key: 2
                  description: Net1
                  inputId: '20'
                  outputId: '20'
                  regexPattern: null
                  color: null
                  children:
                  - key: 3
                    description: Code2
                    inputId: '30'
                    outputId: '30'
                    regexPattern: null
                    color: '#FF0000'
                    children: null
                  - key: 4
                    description: Code3
                    inputId: '40'
                    outputId: '40'
                    regexPattern: null
                    color: '#0000FF'
                    children: null
                errorMessage: null
  /Codebooks/Question/{questionKey}:
    get:
      tags:
      - Codebooks
      summary: Get the Codebook for a Question
      description: "Each Question has exactly one Codebook, which may be shared across multiple Questions.\r\n\r\nA Codebook is tree-structured, where the leaf nodes are Codes and non-leaf nodes are Nets.  Only Codes may be used to code a Response.\r\n\r\n\r\nThis resource can return the Codes in the Codebook as a flattened list containing only the Codes, or as a tree with the full structure of the Codebook.\r\n"
      parameters:
      - name: questionKey
        in: path
        description: The Question key, which must be an integer value.
        required: true
        schema:
          type: integer
          format: int32
      - name: tree
        in: query
        description: "Optional query parameter.\r\n\r\n            If true, return a tree-structured representation of the Codebook.\r\n  \r\n            When tree=false (the default) only the Codes are returned (no Nets) as a single list."
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQuestionCodebookResponse'
              example:
                codebookKey: 1234567
                codebook:
                - key: 1
                  description: Code1
                  inputId: '10'
                  outputId: '10'
                  regexPattern: null
                  color: '#FF0000'
                  children: null
                - key: 2
                  description: Net1
                  inputId: '20'
                  outputId: '20'
                  regexPattern: null
                  color: null
                  children:
                  - key: 3
                    description: Code2
                    inputId: '30'
                    outputId: '30'
                    regexPattern: null
                    color: '#FF0000'
                    children: null
                  - key: 4
                    description: Code3
                    inputId: '40'
                    outputId: '40'
                    regexPattern: null
                    color: '#0000FF'
                    children: null
                errorMessage: null
  /Codebooks/{questionKey}:
    post:
      tags:
      - Codebooks
      summary: Create a new Codebook for a Question
      description: "This operation replaces any existing Codebook for the specified Question with the new Codebook.\r\n\r\nThis operation is permitted only if there are no coded responses in the Question."
      parameters:
      - name: questionKey
        in: path
        description: The key of the Question.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: The codes and nets in the new Codebook.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCodebookForQuestionRequest'
            example:
              codes:
              - description: Likes
                inputId: null
                outputId: '1000'
                regexPattern: null
                color: '#00FF00'
                children:
                - description: Color
                  inputId: null
                  outputId: '1001'
                  regexPattern: null
                  color: null
                  children: null
                - description: Taste
                  inputId: null
                  outputId: '1002'
                  regexPattern: null
                  color: null
                  children: null
              - description: Dislikes
                inputId: null
                outputId: '2000'
                regexPattern: null
                color: '#FF0000'
                children:
                - description: Color
                  inputId: null
                  outputId: '2001'
                  regexPattern: null
                  color: null
                  children: null
                - description: Taste
                  inputId: null
                  outputId: '2002'
                  regexPattern: null
                  color: null
                  children: null
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCodebookForQuestionRequest'
            example:
              codes:
              - description: Likes
                inputId: null
                outputId: '1000'
                regexPattern: null
                color: '#00FF00'
                children:
                - description: Color
                  inputId: null
                  outputId: '1001'
                  regexPattern: null
                  color: null
                  children: null
                - description: Taste
                  inputId: null
                  outputId: '1002'
                  regexPattern: null
                  color: null
                  children: null
              - description: Dislikes
                inputId: null
                outputId: '2000'
                regexPattern: null
                color: '#FF0000'
                children:
                - description: Color
                  inputId: null
                  outputId: '2001'
                  regexPattern: null
                  color: null
                  children: null
                - description: Taste
                  inputId: null
                  outputId: '2002'
                  regexPattern: null
                  color: null
                  children: null
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateCodebookForQuestionRequest'
            example:
              codes:
              - description: Likes
                inputId: null
                outputId: '1000'
                regexPattern: null
                color: '#00FF00'
                children:
                - description: Color
                  inputId: null
                  outputId: '1001'
                  regexPattern: null
                  color: null
                  children: null
                - description: Taste
                  inputId: null
                  outputId: '1002'
                  regexPattern: null
                  color: null
                  children: null
              - description: Dislikes
                inputId: null
                outputId: '2000'
                regexPattern: null
                color: '#FF0000'
                children:
                - description: Color
                  inputId: null
                  outputId: '2001'
                  regexPattern: null
                  color: null
                  children: null
                - description: Taste
                  inputId: null
                  outputId: '2002'
                  regexPattern: null
                  color: null
                  children: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCodebookForQuestionResponse'
              example:
                codebookKey: 1234567
                codebook:
                - key: 1
                  description: Code1
                  inputId: '10'
                  outputId: '10'
                  regexPattern: null
                  color: '#FF0000'
                  children: null
                - key: 2
                  description: Net1
                  inputId: '20'
                  outputId: '20'
                  regexPattern: null
                  color: null
                  children:
                  - key: 3
                    description: Code2
                    inputId: '30'
                    outputId: '30'
                    regexPattern: null
                    color: '#FF0000'
                    children: null
                  - key: 4
                    description: Code3
                    inputId: '40'
                    outputId: '40'
                    regexPattern: null
                    color: '#0000FF'
                    children: null
                errorMessage: null
  /Codebooks/{codebookKey}/Codes:
    post:
      tags:
      - Codebooks
      summary: Add codes to a codebook
      description: This operation adds the given codes to the specified codebook.
      parameters:
      - name: codebookKey
        in: path
        description: The key of the Codebook.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: The codes and nets in the new Codebook.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCodesIntoCodebookRequest'
            example:
              codes:
              - description: Likes
                inputId: null
                outputId: '1000'
                regexPattern: null
                color: '#00FF00'
                children:
                - description: Color
                  inputId: null
                  outputId: '1001'
                  regexPattern: null
                  color: null
                  children: null
                - description: Taste
                  inputId: null
                  outputId: '1002'
                  regexPattern: null
                  color: null
                  children: null
              - description: Dislikes
                inputId: null
                outputId: '2000'
                regexPattern: null
                color: '#FF0000'
                children:
                - description: Color
                  inputId: null
                  outputId: '2001'
                  regexPattern: null
                  color: null
                  children: null
                - description: Taste
                  inputId: null
                  outputId: '2002'
                  regexPattern: null
                  color: null
                  children: null
              overwrite: false
          text/json:
            schema:
              $ref: '#/components/schemas/AddCodesIntoCodebookRequest'
            example:
              codes:
              - description: Likes
                inputId: null
                outputId: '1000'
                regexPattern: null
                color: '#00FF00'
                children:
                - description: Color
                  inputId: null
                  outputId: '1001'
                  regexPattern: null
                  color: null
                  children: null
                - description: Taste
                  inputId: null
                  outputId: '1002'
                  regexPattern: null
                  color: null
                  children: null
              - description: Dislikes
                inputId: null
                outputId: '2000'
                regexPattern: null
                color: '#FF0000'
                children:
                - description: Color
                  inputId: null
                  outputId: '2001'
                  regexPattern: null
                  color: null
                  children: null
                - description: Taste
                  inputId: null
                  outputId: '2002'
                  regexPattern: null
                  color: null
                  children: null
              overwrite: false
          application/*+json:
            schema:
              $ref: '#/components/schemas/AddCodesIntoCodebookRequest'
            example:
              codes:
              - description: Likes
                inputId: null
                outputId: '1000'
                regexPattern: null
                color: '#00FF00'
                children:
                - description: Color
                  inputId: null
                  outputId: '1001'
                  regexPattern: null
                  color: null
                  children: null
                - description: Taste
                  inputId: null
                  outputId: '1002'
                  regexPattern: null
                  color: null
                  children: null
              - description: Dislikes
                inputId: null
                outputId: '2000'
                regexPattern: null
                color: '#FF0000'
                children:
                - description: Color
                  inputId: null
                  outputId: '2001'
                  regexPattern: null
                  color: null
                  children: null
                - description: Taste
                  inputId: null
                  outputId: '2002'
                  regexPattern: null
                  color: null
                  children: null
              overwrite: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCodesIntoCodebookResponse'
              example:
                codebookKey: 1234567
                codebook:
                - key: 1
                  description: Code1
                  inputId: '10'
                  outputId: '10'
                  regexPattern: null
                  color: '#FF0000'
                  children: null
                - key: 2
                  description: Net1
                  inputId: '20'
                  outputId: '20'
                  regexPattern: null
                  color: null
                  children:
                  - key: 3
                    description: Code2
                    inputId: '30'
                    outputId: '30'
                    regexPattern: null
                    color: '#FF0000'
                    children: null
                  - key: 4
                    description: Code3
                    inputId: '40'
                    outputId: '40'
                    regexPattern: null
                    color: '#0000FF'
                    children: null
                errorMessage: null
    put:
      tags:
      - Codebooks
      summary: Updates codes in a specified codebook
      description: This operation updates the given codes in a specified codebook.
      parameters:
      - name: codebookKey
        in: path
        description: The key of the Codebook.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: The codes/nets in the new Codebook.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCodesInCodebookRequest'
            example:
              codes:
              - key: 1234567
                description: New Description for the code with key 1234567
                inputId: '101'
                outputId: '101'
                regexPattern: null
                color: '#00FF00'
              - key: 1234568
                description: New Description for the code with key 1234568
                inputId: '102'
                outputId: '102'
                regexPattern: null
                color: '#FF0000'
              - key: 1234569
                description: New Description for the code with key 1234569
                inputId: '103'
                outputId: '103'
                regexPattern: \bnothing\b
                color: '#00CCCC'
              overwrite: true
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCodesInCodebookRequest'
            example:
              codes:
              - key: 1234567
                description: New Description for the code with key 1234567
                inputId: '101'
                outputId: '101'
                regexPattern: null
                color: '#00FF00'
              - key: 1234568
                description: New Description for the code with key 1234568
                inputId: '102'
                outputId: '102'
                regexPattern: null
                color: '#FF0000'
              - key: 1234569
                description: New Description for the code with key 1234569
                inputId: '103'
                outputId: '103'
                regexPattern: \bnothing\b
                color: '#00CCCC'
              overwrite: true
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateCodesInCodebookRequest'
            example:
              codes:
              - key: 1234567
                description: New Description for the code with key 1234567
                inputId: '101'
                outputId: '101'
                regexPattern: null
                color: '#00FF00'
              - key: 1234568
                description: New Description for the code with key 1234568
                inputId: '102'
                outputId: '102'
                regexPattern: null
                color: '#FF0000'
              - key: 1234569
                description: New Description for the code with key 1234569
                inputId: '103'
                outputId: '103'
                regexPattern: \bnothing\b
                color: '#00CCCC'
              overwrite: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCodesInCodebookResponse'
              example:
                failedCodes:
                - key: '1234569'
                  errorMessage: Some error happens during updating of code with key '1234569'.
                codebookKey: 0
                codebook:
                - key: 1234567
                  description: New Description for the code with key 1234567
                  inputId: '101'
                  outputId: '101'
                  regexPattern: null
                  color: '#00FF00'
                  children: null
                - key: 1234568
                  description: New Description for the code with key 1234568
                  inputId: '102'
                  outputId: '102'
                  regexPattern: null
                  color: '#FF0000'
                  children: null
                - key: 1234569
                  description: New Description for the code with key 1234569
                  inputId: '103'
                  outputId: '103'
                  regexPattern: \bnothing\b
                  color: '#00CCCC'
                  children: null
                errorMessage: null
    delete:
      tags:
      - Codebooks
      summary: Deletes codes from the specified codebook.
      parameters:
      - name: codebookKey
        in: path
        description: Key of the codebook
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: Request that contains information about codes to delete
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteCodebookCodesRequest'
            example:
              codeKeys:
              - 21000
              - 21001
              - 22100
              - 21003
              uncodeResponses: false
          text/json:
            schema:
              $ref: '#/components/schemas/DeleteCodebookCodesRequest'
            example:
              codeKeys:
              - 21000
              - 21001
              - 22100
              - 21003
              uncodeResponses: false
          application/*+json:
            schema:
              $ref: '#/components/schemas/DeleteCodebookCodesRequest'
            example:
              codeKeys:
              - 21000
              - 21001
              - 22100
              - 21003
              uncodeResponses: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCodebookCodesResponse'
              example:
                codeKeysDeleted:
                - 21000
                - 21001
                - 21003
                codeKeysNotDeleted:
                - 22100
                codesRemovedFromResponses: []
                errorMessage: null
  /Codebooks/Codes/Batch:
    post:
      tags:
      - Codebooks
      summary: Add codes into target codebooks
      description: This operation adds the given codes to the corresponding codebooks.
      requestBody:
        description: Information about the codes and nets and target codebooks.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCodesIntoCodebooksBatchRequest'
            example:
              codebooksAndTheirCodes:
              - codebookKey: 1234567
                codes:
                - description: Likes
                  inputId: null
                  outputId: '1000'
                  regexPattern: null
                  color: '#00FF00'
                  children:
                  - description: Color
                    inputId: null
                    outputId: '1001'
                    regexPattern: null
                    color: null
                    children: null
                  - description: Taste
                    inputId: null
                    outputId: '1002'
                    regexPattern: null
                    color: null
                    children: null
                - description: Dislikes
                  inputId: null
                  outputId: '1003'
                  regexPattern: null
                  color: '#FF0000'
                  children:
                  - description: Color
                    inputId: null
                    outputId: '1004'
                    regexPattern: null
                    color: null
                    children: null
                  - description: Taste
                    inputId: null
                    outputId: '1005'
                    regexPattern: null
                    color: null
                    children: null
              - codebookKey: 2345678
                codes:
                - description: Likes
                  inputId: null
                  outputId: '1006'
                  regexPattern: null
                  color: '#00FF00'
                  children:
                  - description: Color
                    inputId: null
                    outputId: '1007'
                    regexPattern: null
                    color: null
                    children: null
                  - description: Taste
                    inputId: null
                    outputId: '1008'
                    regexPattern: null
                    color: null
                    children: null
                - description: Dislikes
                  inputId: null
                  outputId: '1009'
                  regexPattern: null
                  color: '#FF0000'
                  children:
                  - description: Color
                    inputId: null
                    outputId: '1010'
                    regexPattern: null
                    color: null
                    children: null
                  - description: Taste
                    inputId: null
                    outputId: '1011'
                    regexPattern: null
                    color: null
                    children: null
              overwrite: false
          text/json:
            schema:
              $ref: '#/components/schemas/AddCodesIntoCodebooksBatchRequest'
            example:
              codebooksAndTheirCodes:
              - codebookKey: 1234567
                codes:
                - description: Likes
                  inputId: null
                  outputId: '1000'
                  regexPattern: null
                  color: '#00FF00'
                  children:
                  - description: Color
                    inputId: null
                    outputId: '1001'
                    regexPattern: null
                    color: null
                    children: null
                  - description: Taste
                    inputId: null
                    outputId: '1002'
                    regexPattern: null
                    color: null
                    children: null
                - description: Dislikes
                  inputId: null
                  outputId: '1003'
                  regexPattern: null
                  color: '#FF0000'
                  children:
                  - description: Color
                    inputId: null
                    outputId: '1004'
                    regexPattern: null
                    color: null
                    children: null
                  - description: Taste
                    inputId: null
                    outputId: '1005'
                    regexPattern: null
                    color: null
                    children: null
              - codebookKey: 2345678
                codes:
                - description: Likes
                  inputId: null
                  outputId: '1006'
                  regexPattern: null
                  color: '#00FF00'
                  children:
                  - description: Color
                    inputId: null
                    outputId: '1007'
                    regexPattern: null
                    color: null
                    children: null
                  - description: Taste
                    inputId: null
                    outputId: '1008'
                    regexPattern: null
                    color: null
                    children: null
                - description: Dislikes
                  inputId: null
                  outputId: '1009'
                  regexPattern: null
                  color: '#FF0000'
                  children:
                  - description: Color
                    inputId: null
                    outputId: '1010'
                    regexPattern: null
                    color: null
                    children: null
                  - description: Taste
                    inputId: null
                    outputId: '1011'
                    regexPattern: null
                    color: null
                    children: null
              overwrite: false
          application/*+json:
            schema:
              $ref: '#/components/schemas/AddCodesIntoCodebooksBatchRequest'
            example:
              codebooksAndTheirCodes:
              - codebookKey: 1234567
                codes:
                - description: Likes
                  inputId: null
                  outputId: '1000'
                  regexPattern: null
                  color: '#00FF00'
                  children:
                  - description: Color
                    inputId: null
                    outputId: '1001'
                    regexPattern: null
                    color: null
                    children: null
                  - description: Taste
                    inputId: null
                    outputId: '1002'
                    regexPattern: null
                    color: null
                    children: null
                - description: Dislikes
                  inputId: null
                  outputId: '1003'
                  regexPattern: null
                  color: '#FF0000'
                  children:
                  - description: Color
                    inputId: null
                    outputId: '1004'
                    regexPattern: null
                    color: null
                    children: null
                  - description: Taste
                    inputId: null
                    outputId: '1005'
                    regexPattern: null
                    color: null
                    children: null
              - codebookKey: 2345678
                codes:
                - description: Likes
                  inputId: null
                  outputId: '1006'
                  regexPattern: null
                  color: '#00FF00'
                  children:
                  - description: Color
                    inputId: null
                    outputId: '1007'
                    regexPattern: null
                    color: null
                    children: null
                  - description: Taste
                    inputId: null
                    outputId: '1008'
                    regexPattern: null
                    color: null
                    children: null
                - description: Dislikes
                  inputId: null
                  outputId: '1009'
                  regexPattern: null
                  color: '#FF0000'
                  children:
                  - description: Color
                    inputId: null
                    outputId: '1010'
                    regexPattern: null
                    color: null
                    children: null
                  - description: Taste
                    inputId: null
                    outputId: '1011'
                    regexPattern: null
                    color: null
                    children: null
              overwrite: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCodesIntoCodebooksBatchResponse'
              example:
                codebooksBatch:
                - codebookKey: 1234567
                  codebook:
                  - key: 53853256
                    description: Likes
                    inputId: null
                    outputId: '1000'
                    regexPattern: null
                    color: '#00FF00'
                    children:
                    - key: 53853257
                      description: Color
                      inputId: null
                      outputId: '1001'
                      regexPattern: null
                      color: null
                      children: null
                    - key: 53853258
                      description: Taste
                      inputId: null
                      outputId: '1002'
                      regexPattern: null
                      color: null
                      children: null
                  - key: 53853259
                    description: Dislikes
                    inputId: null
                    outputId: '1003'
                    regexPattern: null
                    color: '#FF0000'
                    children:
                    - key: 53853260
                      description: Color
                      inputId: null
                      outputId: '1004'
                      regexPattern: null
                      color: null
                      children: null
                    - key: 53853261
                      description: Taste
                      inputId: null
                      outputId: '1005'
                      regexPattern: null
                      color: null
                      children: null
                  errorMessage: null
                - codebookKey: 2345678
                  codebook: null
                  errorMessage: Some error happens during inserting of new codes into codebook with key '2345678'.
                errorMessage: null
components:
  schemas:
    CreateCodebookForQuestionRequest:
      required:
      - codes
      type: object
      properties:
        codes:
          type: array
          items:
            $ref: '#/components/schemas/NewCodeOrNet'
          description: "The Codes in the Codebook, in the order they appear in the Codebook.\r\n  \r\nCodebooks are tree structured and may be of any depth, although a depth of more than 6 is rare.\r\n  \r\nOnly the leaf nodes may be applied to a response.  These leaf nodes are Codes.\r\n\r\nNets have child codes or nets.  Nets may not be used to code a response.  They serve to provide structure to the Codebook.\r\n\r\nNets typically represent groups of related codes."
      additionalProperties: false
      description: A codebook presentation to create for specified question
    AddCodesIntoCodebookRequest:
      type: object
      properties:
        codes:
          type: array
          items:
            $ref: '#/components/schemas/NewCodeOrNet'
          description: "The Codes in the Codebook, in the order they appear in the Codebook.\r\n  \r\nCodebooks are tree structured and may be of any depth, although a depth of more than 6 is rare.\r\n  \r\nOnly the leaf nodes may be applied to a response.  These leaf nodes are Codes.\r\n\r\nNets have child codes or nets.  Nets may not be used to code a response.  They serve to provide structure to the Codebook.\r\n\r\nNets typically represent groups of related codes."
          nullable: true
        overwrite:
          type: boolean
          description: Overwrites non-unique codes
      additionalProperties: false
      description: A codebook presentation to create for specified question
    CodebookNewCodes:
      type: object
      properties:
        codebookKey:
          type: integer
          description: Key of the Codebook
          format: int32
        codes:
          type: array
          items:
            $ref: '#/components/schemas/NewCodeOrNet'
          description: "The Codes in the Codebook, in the order they appear in the Codebook.\r\n  \r\nCodebooks are tree structured and may be of any depth, although a depth of more than 6 is rare.\r\n  \r\nOnly the leaf nodes may be applied to a response.  These leaf nodes are Codes.\r\n\r\nNets have child codes or nets.  Nets may not be used to code a response.  They serve to provide structure to the Codebook.\r\n\r\nNets typically represent groups of related codes."
          nullable: true
      additionalProperties: false
      description: Codebook and its codes or nets tree structure
    ResponseCodeRemoved:
      required:
      - codeId
      - codeKey
      - questionId
      - questionKey
      - respondentId
      type: object
      properties:
        questionKey:
          type: integer
          description: Key of question
          format: int32
        questionId:
          type: string
          description: Id of question
          nullable: true
        respondentId:
          type: string
          description: Id of respondent
          nullable: true
        codeKey:
          type: integer
          description: Key of code
          format: int32
        codeId:
          type: string
          description: Code Id (output)
          nullable: true
      additionalProperties: false
      description: Contains information about codes that were uncode from responses
    AddCodesIntoCodebookResponse:
      type: object
      properties:
        errorMessage:
          type: string
          nullable: true
        codebookKey:
          type: integer
          description: The key of the Codebook.
          format: int32
        codebook:
          type: array
          items:
            $ref: '#/components/schemas/CodeOrNet'
          description: "The Codes in the Codebook, in the order they appear in the Codebook.\r\n  \r\nCodebooks are tree structured and may be of any depth, although a depth of more than 6 is rare.\r\n  \r\nOnly the leaf nodes may be applied to a response.  These leaf nodes are Codes.\r\n\r\nNets have child codes or nets.  Nets may not be used to code a response.  They serve to provide structure to the Codebook.\r\n\r\nNets typically represent groups of related codes."
          nullable: true
      additionalProperties: false
      description: Contains a presentation of codebook
    DeleteCodebookCodesRequest:
      type: object
      properties:
        codeKeys:
          type: array
          items:
            type: integer
            format: int32
          description: Array of keys of codes in the specified codebook to delete
          nullable: true
        uncodeResponses:
          type: boolean
          description: Delete codes from responses as well when it is true
      additionalProperties: false
      description: Request contains an array of code keys to delete from codebook
    FailedCode:
      type: object
      properties:
        key:
          type: string
          description: Key of code
          nullable: true
        errorMessage:
          type: string
          description: Error message or reason why the code could not be updated.
          nullable: true
      additionalProperties: false
      description: Contains information about failed code.
    UpdateCodesInCodebookRequest:
      required:
      - codes
      type: object
      properties:
        codes:
          type: array
          items:
            $ref: '#/components/schemas/UpdateCode'
          description: Codes to update
        overwrite:
          type: boolean
          description: Overwrites non-unique codes
      additionalProperties: false
      description: Request contains information
    AddCodesIntoCodebooksBatchResponse:
      type: object
      properties:
        errorMessage:
          type: string
          nullable: true
        codebooksBatch:
          type: array
          items:
            $ref: '#/components/schemas/AddCodesIntoCodebooksBatchResultItem'
          description: Array of result items of batch adding of codes into codebooks
          nullable: true
      additionalProperties: false
      description: Response contains information about added codes into a linked codebook or error message
    CodeOrNet:
      required:
      - description
      - key
      type: object
      properties:
        key:
          type: integer
          description: "The key of the Code.\r\n\r\nThis key is used to relate a coded response to its Code in the Codebook."
          format: int32
        description:
          minLength: 1
          type: string
          description: "The description of the Code.\r\n\r\nThis description represents the concept expressed in the coded Response."
        inputId:
          type: string
          description: "A optional identifier which may be used during automatic coding of responses.\r\n  \r\nIf null this field will not be present in the response."
          nullable: true
        outputId:
          type: string
          description: "A optional identifier which may be used to identify the code in tabulation software.\r\n  \r\nIf null this field will not be present in the response."
          nullable: true
        regexPattern:
          type: string
          description: Optional regular expression pattern which may be used for assisting human coders or for automatic coding.
          nullable: true
        color:
          type: string
          description: "An optional color for the code in CSS hexadecimal six digit format, e.g. #FF0000 for red.\r\n\r\nIf the code color is the default value of #000000 (black) this field will not be present in the response."
          nullable: true
        children:
          type: array
          items:
            $ref: '#/components/schemas/CodeOrNet'
          description: "The children of a Net.\r\n\r\nWhen querying for a codebook, this field will be present in the response only for Nets, and will never be present\r\nwhen the Codebook is requested with the tree=false parameter.\r\n\r\nThe children are listed in the order they appear in the Codebook."
          nullable: true
      additionalProperties: false
      description: A Code or Net in a Codebook.
    AddCodesIntoCodebooksBatchRequest:
      type: object
      properties:
        codebooksAndTheirCodes:
          type: array
          items:
            $ref: '#/components/schemas/CodebookNewCodes'
          description: A list of codebooks and their codes to add
          nullable: true
        overwrite:
          type: boolean
          description: Overwrites non-unique codes
      additionalProperties: false
      description: Request contains a list of codebooks and their codes to add
    DeleteCodebookCodesResponse:
      type: object
      properties:
        errorMessage:
          type: string
          nullable: true
        codeKeysDeleted:
          type: array
          items:
            type: integer
            format: int32
          description: Array of code keys which were successfully deleted from the codebook.
          nullable: true
        codeKeysNotDeleted:
          type: array
          items:
            type: integer
            format: int32
          description: Array of code keys which were not deleted by some reason. Usually such codes are applied to response(s).
          nullable: true
        codesRemovedFromResponses:
          type: array
          items:
            $ref: '#/components/schemas/ResponseCodeRemoved'
          description: Array of response-code pairs that were uncoded from responses in process of codes deletion.
          nullable: true
      additionalProperties: false
      description: "Response contains two arrays with successfully-deleted and failed codes after the try of deletion.\r\nCodebook code can not be deleted if it is applied for some response. Only unused codebook codes can be deleted."
    UpdateCode:
      type: object
      properties:
        key:
          type: integer
          description: Key of code
          format: int32
          nullable: true
        description:
          type: string
          description: Description of code
          nullable: true
        inputId:
          type: string
          description: Input ID value of code
          nullable: true
        outputId:
          type: string
          description: Output ID value of code
          nullable: true
        regexPattern:
          type: string
          description: Regular expression pattern which may be used for assisting human coders or for automatic coding.
          nullable: true
        color:
          type: string
          description: "Color for the code in CSS hexadecimal six digit format, e.g. #FF0000 for red.\r\n\r\nIf the code color is the default value of #000000 (black) this field will not be present in the response."
          nullable: true
      additionalProperties: false
      description: "Class contains information about code and its properties to update. \r\nOnly not-null properties will be updated, i.e. for properties with null value the code saves original value."
    GetQuestionCodebookResponse:
      type: object
      properties:
        errorMessage:
          type: string
          nullable: true
        codebookKey:
          type: integer
          description: The key of the Codebook.
          format: int32
        codebook:
          type: array
          items:
            $ref: '#/components/schemas/CodeOrNet'
          description: "The Codes in the Codebook, in the order they appear in the Codebook.\r\n  \r\nCodebooks are tree structured and may be of any depth, although a depth of more than 6 is rare.\r\n  \r\nOnly the leaf nodes may be applied to a response.  These leaf nodes are Codes.\r\n\r\nNets have child codes or nets.  Nets may not be used to code a response.  They serve to provide structure to the Codebook.\r\n\r\nNets typically represent groups of related codes."
          nullable: true
      additionalProperties: false
      description: Contains a presentation of codebook
    AddCodesIntoCodebooksBatchResultItem:
      type: object
      properties:
        codebookKey:
          type: integer
          description: The key of codebook
          format: int32
        codebook:
          type: array
          items:
            $ref: '#/components/schemas/CodeOrNet'
          description: "The Codes in the Codebook, in the order they appear in the Codebook.\r\n  \r\n            Codebooks are tree structured and may be of any depth, although a depth of more than 6 is rare.\r\n  \r\n            Only the leaf nodes may be applied to a response.  These leaf nodes are Codes.\r\n\r\n            Nets have child codes or nets.  Nets may not be used to code a response.  They serve to provide structure to the Codebook.\r\n\r\n            Nets typically represent groups of related codes."
          nullable: true
        errorMessage:
          type: string
          description: Error message why codes can not be added into the Codebook
          nullable: true
      additionalProperties: false
      description: Result item with information about status of adding codes into the specified codebook
    UpdateCodesInCodebookResponse:
      type: object
      properties:
        errorMessage:
          type: string
          nullable: true
        codebookKey:
          type: integer
          description: The key of the Codebook.
          format: int32
        codebook:
          type: array
          items:
            $ref: '#/components/schemas/CodeOrNet'
          description: "The Codes in the Codebook, in the order they appear in the Codebook.\r\n  \r\nCodebooks are tree structured and may be of any depth, although a depth of more than 6 is rare.\r\n  \r\nOnly the leaf nodes may be applied to a response.  These leaf nodes are Codes.\r\n\r\nNets have child codes or nets.  Nets may not be used to code a response.  They serve to provide structure to the Codebook.\r\n\r\nNets typically represent groups of related codes."
          nullable: true
        failedCodes:
          type: array
          items:
            $ref: '#/components/schemas/FailedCode'
          description: Codes that were failed while updating by some reason or error.
          nullable: true
      additionalProperties: false
      description: Response contains information about failed codes. If a code with some key from the request is not presented in failedCodes collection it means that the code was successfully updated.
    NewCodeOrNet:
      required:
      - description
      type: object
      properties:
        description:
          maxLength: 1000
          minLength: 0
          type: string
          description: "The description of the Code.\r\n\r\nThis description represents the concept expressed in the coded Response.\r\n\r\nMaximum allowed length is 1000 characters."
        inputId:
          maxLength: 50
          minLength: 0
          type: string
          description: "A optional identifier which may be used during automatic coding of responses.\r\n  \r\nMaximum allowed length is 50 characters."
          nullable: true
        outputId:
          maxLength: 50
          minLength: 0
          type: string
          description: "A optional identifier which may be used to identify the code in tabulation software.  \r\nMaximum allowed length is 50 characters."
          nullable: true
        regexPattern:
          type: string
          description: Optional regular expression pattern which may be used for assisting human coders or for automatic coding.
          nullable: true
        color:
          type: string
          description: "An optional color for the code in CSS hexadecimal six digit format, e.g. #FF0000 for red.\r\n\r\nIf not specified the code color will default to black."
          nullable: true
        children:
          type: array
          items:
            $ref: '#/components/schemas/NewCodeOrNet'
          description: "The children of a Net.\r\n\r\nIf this list is not null or empty, this code will be a Net, and its children will be the codes or nets in the list.\r\n\r\nThe children will be inserted in the codebook in the order specified in this list."
          nullable: true
      additionalProperties: false
      description: A Code or Net in a Codebook.
    GetCodebookResponse:
      type: object
      properties:
        errorMessage:
          type: string
          nullable: true
        codebookKey:
          type: integer
          description: The key of the Codebook.
          format: int32
        codebook:
          type: array
          items:
            $ref: '#/components/schemas/CodeOrNet'
          description: "The Codes in the Codebook, in the order they appear in the Codebook.\r\n  \r\nCodebooks are tree structured and may be of any depth, although a depth of more than 6 is rare.\r\n  \r\nOnly the leaf nodes may be applied to a response.  These leaf nodes are Codes.\r\n\r\nNets have child codes or nets.  Nets may not be used to code a response.  They serve to provide structure to the Codebook.\r\n\r\nNets typically represent groups of related codes."
          nullable: true
      additionalProperties: false
      description: Contains a presentation of codebook
    CreateCodebookForQuestionResponse:
      type: object
      properties:
        errorMessage:
          type: string
          nullable: true
        codebookKey:
          type: integer
          description: The key of the Codebook.
          format: int32
        codebook:
          type: array
          items:
            $ref: '#/components/schemas/CodeOrNet'
          description: "The Codes in the Codebook, in the order they appear in the Codebook.\r\n  \r\nCodebooks are tree structured and may be of any depth, although a depth of more than 6 is rare.\r\n  \r\nOnly the leaf nodes may be applied to a response.  These leaf nodes are Codes.\r\n\r\nNets have child codes or nets.  Nets may not be used to code a response.  They serve to provide structure to the Codebook.\r\n\r\nNets typically represent groups of related codes."
          nullable: true
      additionalProperties: false
      description: Contains a presentation of codebook
  securitySchemes:
    Bearer:
      type: http
      description: 'Please enter a valid bearer token.


        It should be in the format "bearer eyJhbGciOiJSU..."


        It will be added to the "Authentication" HTTP header'
      scheme: Bearer
      bearerFormat: JWT
