{
  "openapi": "3.0.4",
  "info": {
    "title": "Ascribe Coder API",
    "description": "<br/>      To import this API to Postman, copy the URL from the top of this page.<br/>      Open Postman, and select Import.<br/>      In the dialog select 'Import From Link'.<br/>      Paste the URL and click Import.<br/><br/>      To use this API interactively from this page, open the POST Sessions operation below.<br/>      Click the Example Value in the Parameters section to move it to the request.<br/>      Modify the request with your credentials, then click \"Try it out!\"<br/>      Copy the value of the bearerToken returned in the response to the api_key text box at the top of this page.<br/>      You can now interact with the other resources on this page.<br/>      You can save the bearer token for future use without needing to POST to the Sessions resource again.",
    "contact": {
      "email": "support@goascribe.com"
    },
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api.goascribe.us/coder/v2",
      "description": "US Servers"
    },
    {
      "url": "https://api.goascribe.eu/coder/v2",
      "description": "EU Servers"
    },
    {
      "url": "https://api-ca.goascribe.com/coder/v2",
      "description": "CA Servers"
    }
  ],
  "paths": {
    "/AICoder/Export/Excel": {
      "post": {
        "tags": [
          "AICoder"
        ],
        "summary": "Initiates a new task to export AI Coder project data into an Excel file.",
        "description": "This method exports AI Coder project data into an Excel file.\r\n\r\nAfter the method triggers an export task, it returns a unique task key.\r\n\r\nThis key can be used for tracking the status of exporting through the API endpoint: **AICoder/Export/Excel/{taskStatusKey:long}**.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderExcelExportRequest"
              },
              "example": {"aiCoderKey":39999}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderExcelExportRequest"
              },
              "example": {"aiCoderKey":39999}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderExcelExportRequest"
              },
              "example": {"aiCoderKey":39999}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AICoderExcelExportResponse"
                },
                "example": {"taskStatusKey":1020309999,"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/AICoder/Export/Excel/{taskStatusKey}": {
      "get": {
        "tags": [
          "AICoder"
        ],
        "summary": "Retrieves the current status of an Excel file export task.",
        "description": "This method requires a task key as an input parameter, which is obtained from the response of the **AICoder/Export/Excel** method.\r\n \r\nIt returns the current status of the export task, including its result if completed.\r\n\r\nIf the task is not yet completed, the method should be called again after a delay.\r\n\r\nContinue calling this method until the task is either completed or rejected due to an error.",
        "parameters": [
          {
            "name": "taskStatusKey",
            "in": "path",
            "description": "The key associated with the ongoing task.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1020309999
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AICoderExcelExportGetStatusOfTaskResponse"
                },
                "example": {"isCompleted":true,"fileUrl":"https://goascribe.com/xfjfoejgreo.xls","errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/AICoder/Export/Codebook": {
      "post": {
        "tags": [
          "AICoder"
        ],
        "summary": "Initiates a new task to export the generated codebook from an AI Coder project to a Coder study.",
        "description": "It allows to export generated codebook in AI Coder back into Coder codebook by using some export strategy (Append, Overwrite, or Merge)\r\n\r\nand determine whether responses should be coded automatically after the export.\r\n\r\nAfter the method triggers generating codebook task, it returns a unique task key.\r\n\r\nThis key can be used for tracking the status of generating codebook through the API endpoint: **AICoder/Export/Codebook/{taskStatusKey:long}**.\r\n\r\nParameter **ExportType:** Specifies the strategy to be used for exporting the codebook.\r\n\r\nCommon options include:\r\n  - **Append**: Adds the new codebook data into the existing codebook of Coder study.\r\n  - **Overwrite**: Fully replaces the existing codebook in the Coder study with the new one.\r\n  - **Merge**: Combines the new codebook with the existing one, replacing any existing codes with the same name and input/output IDs while adding new information",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderCodebookExportRequest"
              },
              "example": {"aiCoderKey":39999,"analyzedVariable":203399,"exportType":"Append","skipResponcesCoding":false}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderCodebookExportRequest"
              },
              "example": {"aiCoderKey":39999,"analyzedVariable":203399,"exportType":"Append","skipResponcesCoding":false}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderCodebookExportRequest"
              },
              "example": {"aiCoderKey":39999,"analyzedVariable":203399,"exportType":"Append","skipResponcesCoding":false}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AICoderCodebookExportResponse"
                },
                "example": {"taskStatusKey":1020309999,"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/AICoder/Export/Codebook/{taskStatusKey}": {
      "get": {
        "tags": [
          "AICoder"
        ],
        "summary": "Retrieves the current status of Codebook export task.",
        "description": "This method requires a task key as an input parameter, which is obtained from the response of the **AICoder/Export/Codebook** method.\r\n\r\nIt returns the current status of the export task, including its result if completed.\r\n\r\nIf the task is not yet completed, the method should be called again after a delay.\r\n\r\nContinue calling this method until the task is either completed or rejected due to an error.",
        "parameters": [
          {
            "name": "taskStatusKey",
            "in": "path",
            "description": "The key associated with the ongoing task.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1020309999
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AICoderCodebookExportGetStatusOfTaskResponse"
                },
                "example": {"isCompleted":true,"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/AICoder/Analyze/v3": {
      "post": {
        "tags": [
          "AICoder"
        ],
        "summary": "Initiates a new task for analyzing study using Codebook Builder (UI-aligned v3 contract).",
        "description": "This method analyzes responses from some study questions using Codebook Builder: prompt embeddings and clustering to build a prototype codebook.\r\n\r\nRequest `CodebookBuilder` options match the AI Coder app defaults and ranges (granularity 25–150, creation method AI vs data-driven,\r\nminimum responses per code 1–250 default 3, classification strictness 75–95%, optional topic-based code cap 1–50 when enabled,\r\noptional analyze-by closed-ended question).\r\n\r\nGiven codebook prototype can be used in applications such as Ascribe Coder with pre-editing it in AI Coder or without it.\r\n\r\nAdditionally, this process generates a structured dataset that can be utilized for:  \r\n- Comprehensive analysis of the content of survey responses;\r\n- Creation of detailed reports based on the analyzed data;  \r\n\r\nThis method enhances the efficiency of processing textual data and facilitates its interpretation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderCodeStudyV3Request"
              },
              "example": {"questionKeys":[100,101,102,103],"codebookBuilder":{"codebookGranularity":100,"creationMethod":"AIGenerated","minimumResponsesPerCode":3,"classificationStrictness":80,"maxTopicBasedCodesEnabled":false,"maxTopicBasedCodes":10,"analyzeByClosedEnd":null},"includeCodedResponses":false,"wordsToIgnore":["some","words","to","ignore"],"generativeAIOptions":{"dataIsAbout":null,"codebookLanguage":"en"},"nonGenerativeAIOptions":{"splitCharacters":".!?|","splitWords":["but","however","nevertheless","nonetheless","yet","thus","also","additionally","nor","and"],"responsesAreAllEnglish":true},"useGenerativeAI":true}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderCodeStudyV3Request"
              },
              "example": {"questionKeys":[100,101,102,103],"codebookBuilder":{"codebookGranularity":100,"creationMethod":"AIGenerated","minimumResponsesPerCode":3,"classificationStrictness":80,"maxTopicBasedCodesEnabled":false,"maxTopicBasedCodes":10,"analyzeByClosedEnd":null},"includeCodedResponses":false,"wordsToIgnore":["some","words","to","ignore"],"generativeAIOptions":{"dataIsAbout":null,"codebookLanguage":"en"},"nonGenerativeAIOptions":{"splitCharacters":".!?|","splitWords":["but","however","nevertheless","nonetheless","yet","thus","also","additionally","nor","and"],"responsesAreAllEnglish":true},"useGenerativeAI":true}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderCodeStudyV3Request"
              },
              "example": {"questionKeys":[100,101,102,103],"codebookBuilder":{"codebookGranularity":100,"creationMethod":"AIGenerated","minimumResponsesPerCode":3,"classificationStrictness":80,"maxTopicBasedCodesEnabled":false,"maxTopicBasedCodes":10,"analyzeByClosedEnd":null},"includeCodedResponses":false,"wordsToIgnore":["some","words","to","ignore"],"generativeAIOptions":{"dataIsAbout":null,"codebookLanguage":"en"},"nonGenerativeAIOptions":{"splitCharacters":".!?|","splitWords":["but","however","nevertheless","nonetheless","yet","thus","also","additionally","nor","and"],"responsesAreAllEnglish":true},"useGenerativeAI":true}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AICoderCodeStudyResponse"
                },
                "example": {"taskStatusKey":1020309999,"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/AICoder/Analyze": {
      "post": {
        "tags": [
          "AICoder"
        ],
        "summary": "Initiates a new task for analyzing study.",
        "description": "This method analyzes responses from some study questions by applying artificial intelligence (AI)\r\n\r\nor special algorithms for automatically constructing a hierarchical model of a prototype codebook.\r\n \r\nGiven codebook prototype can be used in applications such as Ascribe Coder with pre-editing it in AI Coder or without it.\r\n\r\nAdditionally, this process generates a structured dataset that can be utilized for:  \r\n- Comprehensive analysis of the content of survey responses;\r\n- Creation of detailed reports based on the analyzed data;  \r\n\r\nThis method enhances the efficiency of processing textual data and facilitates its interpretation.\r\n\r\nNote: For Codebook Builder (prompt embeddings) analysis aligned with the AI Coder app, use `POST /AICoder/Analyze/v3`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderCodeStudyRequest"
              },
              "example": {"questionKeys":[100,101,102,103],"existingCodebookKey":-1,"existingCodebookSuggestNewCodes":false,"existingCodebookOptions":null,"codebook":{"initial":{"minProximity":75,"minSegmentsPerCode":3,"approxMaxCodes":100},"mergeSimilar":{"enabled":true,"minProximity":85},"assignSegmentSiblings":{"enabled":true,"minProximity":75,"minSiblings":3},"assignTopSegments":{"enabled":true,"minProximity":75,"topSegments":10}},"generativeAIOptions":{"dataIsAbout":null,"codebookLanguage":"en"},"nonGenerativeAIOptions":{"splitCharacters":".!?|","splitWords":["but","however","nevertheless","nonetheless","yet","thus","also","additionally","nor","and"],"responsesAreAllEnglish":true},"useGenerativeAI":false,"wordsToIgnore":["some","words","to","ignore"],"includeCodedResponses":false,"useEnhancedThemeExtractor":false,"enhancedThemeExtractor":{"maxNumberOfNets":10,"maxNumberOfCodes":100,"codebookBuilderPrompt":null,"analyzeByClosedEnd":null,"codebookGranularity":null}}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderCodeStudyRequest"
              },
              "example": {"questionKeys":[100,101,102,103],"existingCodebookKey":-1,"existingCodebookSuggestNewCodes":false,"existingCodebookOptions":null,"codebook":{"initial":{"minProximity":75,"minSegmentsPerCode":3,"approxMaxCodes":100},"mergeSimilar":{"enabled":true,"minProximity":85},"assignSegmentSiblings":{"enabled":true,"minProximity":75,"minSiblings":3},"assignTopSegments":{"enabled":true,"minProximity":75,"topSegments":10}},"generativeAIOptions":{"dataIsAbout":null,"codebookLanguage":"en"},"nonGenerativeAIOptions":{"splitCharacters":".!?|","splitWords":["but","however","nevertheless","nonetheless","yet","thus","also","additionally","nor","and"],"responsesAreAllEnglish":true},"useGenerativeAI":false,"wordsToIgnore":["some","words","to","ignore"],"includeCodedResponses":false,"useEnhancedThemeExtractor":false,"enhancedThemeExtractor":{"maxNumberOfNets":10,"maxNumberOfCodes":100,"codebookBuilderPrompt":null,"analyzeByClosedEnd":null,"codebookGranularity":null}}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderCodeStudyRequest"
              },
              "example": {"questionKeys":[100,101,102,103],"existingCodebookKey":-1,"existingCodebookSuggestNewCodes":false,"existingCodebookOptions":null,"codebook":{"initial":{"minProximity":75,"minSegmentsPerCode":3,"approxMaxCodes":100},"mergeSimilar":{"enabled":true,"minProximity":85},"assignSegmentSiblings":{"enabled":true,"minProximity":75,"minSiblings":3},"assignTopSegments":{"enabled":true,"minProximity":75,"topSegments":10}},"generativeAIOptions":{"dataIsAbout":null,"codebookLanguage":"en"},"nonGenerativeAIOptions":{"splitCharacters":".!?|","splitWords":["but","however","nevertheless","nonetheless","yet","thus","also","additionally","nor","and"],"responsesAreAllEnglish":true},"useGenerativeAI":false,"wordsToIgnore":["some","words","to","ignore"],"includeCodedResponses":false,"useEnhancedThemeExtractor":false,"enhancedThemeExtractor":{"maxNumberOfNets":10,"maxNumberOfCodes":100,"codebookBuilderPrompt":null,"analyzeByClosedEnd":null,"codebookGranularity":null}}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AICoderCodeStudyResponse"
                },
                "example": {"taskStatusKey":1020309999,"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/AICoder/Analyze/Incremental": {
      "post": {
        "tags": [
          "AICoder"
        ],
        "summary": "Initiates a new task for incremental analyzing study.",
        "description": "This method does the same as **/AICoder/Analyze**, but for newly loaded responses only.\r\nOptional `SuggestNewCodes` on the request body matches the AI Coder **Suggest new codes** checkbox when adding a load\r\n(`addNewCodesWhenAddAICoderLoad`); default is `false`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderCodeStudyIncrementallyRequest"
              },
              "example": {"key":19999,"suggestNewCodes":false}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderCodeStudyIncrementallyRequest"
              },
              "example": {"key":19999,"suggestNewCodes":false}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderCodeStudyIncrementallyRequest"
              },
              "example": {"key":19999,"suggestNewCodes":false}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AICoderCodeStudyIncrementallyResponse"
                },
                "example": {"taskStatusKey":1020309999,"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/AICoder/Analyze/{taskStatusKey}": {
      "get": {
        "tags": [
          "AICoder"
        ],
        "summary": "Retrieves a status of analyzing (incremental analyzing) study task.",
        "description": "This method expects a task key as an input parameter from the **/AICoder/Analyze** or **/AICoder/Analyze/Incremental**.\r\n\r\nIt returns information about current status of the analyzing task or result.",
        "parameters": [
          {
            "name": "taskStatusKey",
            "in": "path",
            "description": "The key of the executing task.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1020309999
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AICoderCodeStudyStatusOfTaskResponse"
                },
                "example": {"isCompleted":true,"project":null,"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/AICoder/Analyze/Codebooks": {
      "get": {
        "tags": [
          "AICoder"
        ],
        "summary": "Retrieves a list of available codebooks from AI Coder projects.",
        "description": "This method scans AI Coder projects for non-deleting codebooks and returns list of their defenitions.\r\n\r\nIf value of **id** property ends with \"GAI\" it means that codebook was created by using generative artificial intelligence.\r\n\r\nIf value of **id** property ends with \"AI\" it means that codebook was created by using simple artificial intelligence.\r\n\r\nIf value of **id** property does not include \"GAI\" or \"AI\" in the tail it means that codebook was created without using any kind of artificial intelligence.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AICoderAnalyzeGetCodebooksResponse"
                },
                "example": {"codebooks":[{"key":-1,"id":"New Codebook"},{"key":190001,"id":"Test Codebook 1"},{"key":190002,"id":"Test Codebook 2 - GAI"},{"key":190003,"id":"Test Codebook 3"}],"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/AICoder/NetCodes": {
      "post": {
        "tags": [
          "AICoder"
        ],
        "summary": "Initiates a new task for grouping codes into target net.",
        "description": "This method re-builds the entire codebook of specified AI Coder project or its part.\r\n\r\nParameter **NetKey** allows specifying a child net as the root of a branch and rebuilding only that part.\r\n \r\nIf **NetKey** is set to **0**, the entire codebook will be processed.\r\n\r\nSetting the **NetLevel** parameter to **0** removes all nets, otherwise this value must be positive and can be less than or greater than the current net level of the codebook.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderGroupCodesRequest"
              },
              "example": {"aiCoderKey":1,"netKey":1005,"netLevel":2}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderGroupCodesRequest"
              },
              "example": {"aiCoderKey":1,"netKey":1005,"netLevel":2}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderGroupCodesRequest"
              },
              "example": {"aiCoderKey":1,"netKey":1005,"netLevel":2}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AICoderGroupCodesResponse"
                },
                "example": {"taskStatusKey":1020309999,"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/AICoder/NetCodes/{taskStatusKey}": {
      "get": {
        "tags": [
          "AICoder"
        ],
        "summary": "Retrieves a status of grouping codes to target net task.",
        "description": "This method expects a task key as an input parameter from the **/AICoder/NetCodes** method.\r\n\r\nIt returns information about current status of the grouping nets task or result.",
        "parameters": [
          {
            "name": "taskStatusKey",
            "in": "path",
            "description": "The key of the executing task.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1020309999
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AICoderGroupCodesStatusOfTaskResponse"
                },
                "example": {"isCompleted":true,"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/AICoder/Projects": {
      "get": {
        "tags": [
          "AICoder"
        ],
        "summary": "Retrieves a list of all AI Coder projects that available to current user.",
        "description": "This method prepares a list of AI Coder project defenitions which available for the current user.\r\n\r\nThe result list includes deleted projects as well.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AICoderGetProjectsTaskResponse"
                },
                "example": {"aiCoderProjects":[{"key":29999,"description":"","questionKeys":[18999,20000,20001],"responsesCount":100,"responsesCodedCount":200,"codesAppliedCount":200,"owner":"some.user","createDate":"2026-06-13T20:21:47.08939+00:00","updateDate":"2026-06-13T20:21:47.0893906+00:00","deleteDate":null,"isPublic":false}],"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/AICoder/Links": {
      "post": {
        "tags": [
          "AICoder"
        ],
        "summary": "Create new link(s) to an AI Coder project",
        "description": "This method generates temporary short link(s) for sharing. The link(s) leads to specified AI Coder project's page.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderCreateLinkRequest"
              },
              "example": {"projectKey":29999,"distributionQuestionKey":39999,"expirationDateUtc":"2026-06-13T20:21:47.0923631Z"}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderCreateLinkRequest"
              },
              "example": {"projectKey":29999,"distributionQuestionKey":39999,"expirationDateUtc":"2026-06-13T20:21:47.0923631Z"}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderCreateLinkRequest"
              },
              "example": {"projectKey":29999,"distributionQuestionKey":39999,"expirationDateUtc":"2026-06-13T20:21:47.0923631Z"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AICoderCreateLinkResponse"
                },
                "example": {"links":[{"distributionQuestionValue":"Some value","link":"https://goascribe.com/xfjfoejgreo","expirationDateUtc":"2026-06-13T20:21:47.0940103Z"}],"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/AICoder/Export/Dichotomous": {
      "post": {
        "tags": [
          "AICoder"
        ],
        "summary": "Initiates a new task for exporting of dichotomous report",
        "description": "After the method triggers exporting of dichotomous report task, it returns a unique task key.\r\n\r\nThis key can be used for tracking the status of generating of dichotomous report through the API endpoint: **AICoder/Export/Dichotomous/{taskStatusKey:long}**.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderDichotomousExportRequest"
              },
              "example": {"projectKey":29999,"removeEmptyColumns":true,"useAverageSentimentPerRow":false}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderDichotomousExportRequest"
              },
              "example": {"projectKey":29999,"removeEmptyColumns":true,"useAverageSentimentPerRow":false}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AICoderDichotomousExportRequest"
              },
              "example": {"projectKey":29999,"removeEmptyColumns":true,"useAverageSentimentPerRow":false}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AICoderDichotomousExportResponse"
                },
                "example": {"taskStatusKey":1020309999,"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/AICoder/Export/Dichotomous/{taskStatusKey}": {
      "get": {
        "tags": [
          "AICoder"
        ],
        "summary": "Retrieves a status of exporting of dichotomous report task.",
        "description": "This method expects a task key as an input parameter from the **/AICoder/Export/Dichotomous** method.\r\n\r\nIt returns information about current status of exporting of dichotomous report task or result.\r\n\r\nIf the task is not yet completed, the method should be called again after a delay.\r\n\r\nContinue calling this method until the task is either completed or rejected due to an error.",
        "parameters": [
          {
            "name": "taskStatusKey",
            "in": "path",
            "description": "The key of the executing task.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1020309999
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AICoderDichotomousExportGetStatusOfTaskResponse"
                },
                "example": {"isCompleted":true,"fileUrl":"https://goascribe.com/xfjfoejgreo.xls","errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/Codebooks/{codebookKey}": {
      "get": {
        "tags": [
          "Codebooks"
        ],
        "summary": "Get a Codebook by its key",
        "description": "Each Question has exactly one Codebook, which may be shared across multiple Questions.\r\n\r\nA Codebook is tree-structured, where the leaf nodes are Codes and non-leaf nodes are Nets.  Only Codes may be used to code a Response.\r\n\r\n\r\nThis resource can return the Codes in the Codebook as a flattened list containing only the Codes, or as a tree with the full structure of the Codebook.\r\n",
        "parameters": [
          {
            "name": "codebookKey",
            "in": "path",
            "description": "The Codebook key, which must be an integer value.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tree",
            "in": "query",
            "description": "Optional query parameter.\r\n\r\n            If true, return a tree-structured representation of the Codebook.\r\n  \r\n            When tree=false (the default) only the Codes are returned (no Nets) as a single list.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCodebookResponse"
                },
                "example": {"codebookKey":1234567,"codebook":[{"key":1,"description":"Code1","inputId":"10","outputId":"10","regexPattern":null,"color":"#FF0000","children":null},{"key":2,"description":"Net1","inputId":"20","outputId":"20","regexPattern":null,"color":null,"children":[{"key":3,"description":"Code2","inputId":"30","outputId":"30","regexPattern":null,"color":"#FF0000","children":null},{"key":4,"description":"Code3","inputId":"40","outputId":"40","regexPattern":null,"color":"#0000FF","children":null}]}],"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/Codebooks/Question/{questionKey}": {
      "get": {
        "tags": [
          "Codebooks"
        ],
        "summary": "Get the Codebook for a Question",
        "description": "Each Question has exactly one Codebook, which may be shared across multiple Questions.\r\n\r\nA Codebook is tree-structured, where the leaf nodes are Codes and non-leaf nodes are Nets.  Only Codes may be used to code a Response.\r\n\r\n\r\nThis resource can return the Codes in the Codebook as a flattened list containing only the Codes, or as a tree with the full structure of the Codebook.\r\n",
        "parameters": [
          {
            "name": "questionKey",
            "in": "path",
            "description": "The Question key, which must be an integer value.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tree",
            "in": "query",
            "description": "Optional query parameter.\r\n\r\n            If true, return a tree-structured representation of the Codebook.\r\n  \r\n            When tree=false (the default) only the Codes are returned (no Nets) as a single list.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuestionCodebookResponse"
                },
                "example": {"codebookKey":1234567,"codebook":[{"key":1,"description":"Code1","inputId":"10","outputId":"10","regexPattern":null,"color":"#FF0000","children":null},{"key":2,"description":"Net1","inputId":"20","outputId":"20","regexPattern":null,"color":null,"children":[{"key":3,"description":"Code2","inputId":"30","outputId":"30","regexPattern":null,"color":"#FF0000","children":null},{"key":4,"description":"Code3","inputId":"40","outputId":"40","regexPattern":null,"color":"#0000FF","children":null}]}],"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/Codebooks/{questionKey}": {
      "post": {
        "tags": [
          "Codebooks"
        ],
        "summary": "Create a new Codebook for a Question",
        "description": "This operation replaces any existing Codebook for the specified Question with the new Codebook.\r\n\r\nThis operation is permitted only if there are no coded responses in the Question.",
        "parameters": [
          {
            "name": "questionKey",
            "in": "path",
            "description": "The key of the Question.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The codes and nets in the new Codebook.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCodebookForQuestionRequest"
              },
              "example": {"codes":[{"description":"Likes","inputId":null,"outputId":"1000","regexPattern":null,"color":"#00FF00","children":[{"description":"Color","inputId":null,"outputId":"1001","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"1002","regexPattern":null,"color":null,"children":null}]},{"description":"Dislikes","inputId":null,"outputId":"2000","regexPattern":null,"color":"#FF0000","children":[{"description":"Color","inputId":null,"outputId":"2001","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"2002","regexPattern":null,"color":null,"children":null}]}]}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCodebookForQuestionRequest"
              },
              "example": {"codes":[{"description":"Likes","inputId":null,"outputId":"1000","regexPattern":null,"color":"#00FF00","children":[{"description":"Color","inputId":null,"outputId":"1001","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"1002","regexPattern":null,"color":null,"children":null}]},{"description":"Dislikes","inputId":null,"outputId":"2000","regexPattern":null,"color":"#FF0000","children":[{"description":"Color","inputId":null,"outputId":"2001","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"2002","regexPattern":null,"color":null,"children":null}]}]}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCodebookForQuestionRequest"
              },
              "example": {"codes":[{"description":"Likes","inputId":null,"outputId":"1000","regexPattern":null,"color":"#00FF00","children":[{"description":"Color","inputId":null,"outputId":"1001","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"1002","regexPattern":null,"color":null,"children":null}]},{"description":"Dislikes","inputId":null,"outputId":"2000","regexPattern":null,"color":"#FF0000","children":[{"description":"Color","inputId":null,"outputId":"2001","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"2002","regexPattern":null,"color":null,"children":null}]}]}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCodebookForQuestionResponse"
                },
                "example": {"codebookKey":1234567,"codebook":[{"key":1,"description":"Code1","inputId":"10","outputId":"10","regexPattern":null,"color":"#FF0000","children":null},{"key":2,"description":"Net1","inputId":"20","outputId":"20","regexPattern":null,"color":null,"children":[{"key":3,"description":"Code2","inputId":"30","outputId":"30","regexPattern":null,"color":"#FF0000","children":null},{"key":4,"description":"Code3","inputId":"40","outputId":"40","regexPattern":null,"color":"#0000FF","children":null}]}],"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/Codebooks/{codebookKey}/Codes": {
      "post": {
        "tags": [
          "Codebooks"
        ],
        "summary": "Add codes to a codebook",
        "description": "This operation adds the given codes to the specified codebook.",
        "parameters": [
          {
            "name": "codebookKey",
            "in": "path",
            "description": "The key of the Codebook.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The codes and nets in the new Codebook.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCodesIntoCodebookRequest"
              },
              "example": {"codes":[{"description":"Likes","inputId":null,"outputId":"1000","regexPattern":null,"color":"#00FF00","children":[{"description":"Color","inputId":null,"outputId":"1001","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"1002","regexPattern":null,"color":null,"children":null}]},{"description":"Dislikes","inputId":null,"outputId":"2000","regexPattern":null,"color":"#FF0000","children":[{"description":"Color","inputId":null,"outputId":"2001","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"2002","regexPattern":null,"color":null,"children":null}]}],"overwrite":false}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCodesIntoCodebookRequest"
              },
              "example": {"codes":[{"description":"Likes","inputId":null,"outputId":"1000","regexPattern":null,"color":"#00FF00","children":[{"description":"Color","inputId":null,"outputId":"1001","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"1002","regexPattern":null,"color":null,"children":null}]},{"description":"Dislikes","inputId":null,"outputId":"2000","regexPattern":null,"color":"#FF0000","children":[{"description":"Color","inputId":null,"outputId":"2001","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"2002","regexPattern":null,"color":null,"children":null}]}],"overwrite":false}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddCodesIntoCodebookRequest"
              },
              "example": {"codes":[{"description":"Likes","inputId":null,"outputId":"1000","regexPattern":null,"color":"#00FF00","children":[{"description":"Color","inputId":null,"outputId":"1001","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"1002","regexPattern":null,"color":null,"children":null}]},{"description":"Dislikes","inputId":null,"outputId":"2000","regexPattern":null,"color":"#FF0000","children":[{"description":"Color","inputId":null,"outputId":"2001","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"2002","regexPattern":null,"color":null,"children":null}]}],"overwrite":false}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddCodesIntoCodebookResponse"
                },
                "example": {"codebookKey":1234567,"codebook":[{"key":1,"description":"Code1","inputId":"10","outputId":"10","regexPattern":null,"color":"#FF0000","children":null},{"key":2,"description":"Net1","inputId":"20","outputId":"20","regexPattern":null,"color":null,"children":[{"key":3,"description":"Code2","inputId":"30","outputId":"30","regexPattern":null,"color":"#FF0000","children":null},{"key":4,"description":"Code3","inputId":"40","outputId":"40","regexPattern":null,"color":"#0000FF","children":null}]}],"errorMessage":null}
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Codebooks"
        ],
        "summary": "Updates codes in a specified codebook",
        "description": "This operation updates the given codes in a specified codebook.",
        "parameters": [
          {
            "name": "codebookKey",
            "in": "path",
            "description": "The key of the Codebook.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The codes/nets in the new Codebook.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCodesInCodebookRequest"
              },
              "example": {"codes":[{"key":1234567,"description":"New Description for the code with key 1234567","inputId":"101","outputId":"101","regexPattern":null,"color":"#00FF00"},{"key":1234568,"description":"New Description for the code with key 1234568","inputId":"102","outputId":"102","regexPattern":null,"color":"#FF0000"},{"key":1234569,"description":"New Description for the code with key 1234569","inputId":"103","outputId":"103","regexPattern":"\\bnothing\\b","color":"#00CCCC"}],"overwrite":true}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCodesInCodebookRequest"
              },
              "example": {"codes":[{"key":1234567,"description":"New Description for the code with key 1234567","inputId":"101","outputId":"101","regexPattern":null,"color":"#00FF00"},{"key":1234568,"description":"New Description for the code with key 1234568","inputId":"102","outputId":"102","regexPattern":null,"color":"#FF0000"},{"key":1234569,"description":"New Description for the code with key 1234569","inputId":"103","outputId":"103","regexPattern":"\\bnothing\\b","color":"#00CCCC"}],"overwrite":true}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCodesInCodebookRequest"
              },
              "example": {"codes":[{"key":1234567,"description":"New Description for the code with key 1234567","inputId":"101","outputId":"101","regexPattern":null,"color":"#00FF00"},{"key":1234568,"description":"New Description for the code with key 1234568","inputId":"102","outputId":"102","regexPattern":null,"color":"#FF0000"},{"key":1234569,"description":"New Description for the code with key 1234569","inputId":"103","outputId":"103","regexPattern":"\\bnothing\\b","color":"#00CCCC"}],"overwrite":true}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCodesInCodebookResponse"
                },
                "example": {"failedCodes":[{"key":"1234569","errorMessage":"Some error happens during updating of code with key '1234569'."}],"codebookKey":0,"codebook":[{"key":1234567,"description":"New Description for the code with key 1234567","inputId":"101","outputId":"101","regexPattern":null,"color":"#00FF00","children":null},{"key":1234568,"description":"New Description for the code with key 1234568","inputId":"102","outputId":"102","regexPattern":null,"color":"#FF0000","children":null},{"key":1234569,"description":"New Description for the code with key 1234569","inputId":"103","outputId":"103","regexPattern":"\\bnothing\\b","color":"#00CCCC","children":null}],"errorMessage":null}
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Codebooks"
        ],
        "summary": "Deletes codes from the specified codebook.",
        "parameters": [
          {
            "name": "codebookKey",
            "in": "path",
            "description": "Key of the codebook",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Request that contains information about codes to delete",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCodebookCodesRequest"
              },
              "example": {"codeKeys":[21000,21001,22100,21003],"uncodeResponses":false}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCodebookCodesRequest"
              },
              "example": {"codeKeys":[21000,21001,22100,21003],"uncodeResponses":false}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCodebookCodesRequest"
              },
              "example": {"codeKeys":[21000,21001,22100,21003],"uncodeResponses":false}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteCodebookCodesResponse"
                },
                "example": {"codeKeysDeleted":[21000,21001,21003],"codeKeysNotDeleted":[22100],"codesRemovedFromResponses":[],"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/Codebooks/Codes/Batch": {
      "post": {
        "tags": [
          "Codebooks"
        ],
        "summary": "Add codes into target codebooks",
        "description": "This operation adds the given codes to the corresponding codebooks.",
        "requestBody": {
          "description": "Information about the codes and nets and target codebooks.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCodesIntoCodebooksBatchRequest"
              },
              "example": {"codebooksAndTheirCodes":[{"codebookKey":1234567,"codes":[{"description":"Likes","inputId":null,"outputId":"1000","regexPattern":null,"color":"#00FF00","children":[{"description":"Color","inputId":null,"outputId":"1001","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"1002","regexPattern":null,"color":null,"children":null}]},{"description":"Dislikes","inputId":null,"outputId":"1003","regexPattern":null,"color":"#FF0000","children":[{"description":"Color","inputId":null,"outputId":"1004","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"1005","regexPattern":null,"color":null,"children":null}]}]},{"codebookKey":2345678,"codes":[{"description":"Likes","inputId":null,"outputId":"1006","regexPattern":null,"color":"#00FF00","children":[{"description":"Color","inputId":null,"outputId":"1007","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"1008","regexPattern":null,"color":null,"children":null}]},{"description":"Dislikes","inputId":null,"outputId":"1009","regexPattern":null,"color":"#FF0000","children":[{"description":"Color","inputId":null,"outputId":"1010","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"1011","regexPattern":null,"color":null,"children":null}]}]}],"overwrite":false}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCodesIntoCodebooksBatchRequest"
              },
              "example": {"codebooksAndTheirCodes":[{"codebookKey":1234567,"codes":[{"description":"Likes","inputId":null,"outputId":"1000","regexPattern":null,"color":"#00FF00","children":[{"description":"Color","inputId":null,"outputId":"1001","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"1002","regexPattern":null,"color":null,"children":null}]},{"description":"Dislikes","inputId":null,"outputId":"1003","regexPattern":null,"color":"#FF0000","children":[{"description":"Color","inputId":null,"outputId":"1004","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"1005","regexPattern":null,"color":null,"children":null}]}]},{"codebookKey":2345678,"codes":[{"description":"Likes","inputId":null,"outputId":"1006","regexPattern":null,"color":"#00FF00","children":[{"description":"Color","inputId":null,"outputId":"1007","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"1008","regexPattern":null,"color":null,"children":null}]},{"description":"Dislikes","inputId":null,"outputId":"1009","regexPattern":null,"color":"#FF0000","children":[{"description":"Color","inputId":null,"outputId":"1010","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"1011","regexPattern":null,"color":null,"children":null}]}]}],"overwrite":false}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddCodesIntoCodebooksBatchRequest"
              },
              "example": {"codebooksAndTheirCodes":[{"codebookKey":1234567,"codes":[{"description":"Likes","inputId":null,"outputId":"1000","regexPattern":null,"color":"#00FF00","children":[{"description":"Color","inputId":null,"outputId":"1001","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"1002","regexPattern":null,"color":null,"children":null}]},{"description":"Dislikes","inputId":null,"outputId":"1003","regexPattern":null,"color":"#FF0000","children":[{"description":"Color","inputId":null,"outputId":"1004","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"1005","regexPattern":null,"color":null,"children":null}]}]},{"codebookKey":2345678,"codes":[{"description":"Likes","inputId":null,"outputId":"1006","regexPattern":null,"color":"#00FF00","children":[{"description":"Color","inputId":null,"outputId":"1007","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"1008","regexPattern":null,"color":null,"children":null}]},{"description":"Dislikes","inputId":null,"outputId":"1009","regexPattern":null,"color":"#FF0000","children":[{"description":"Color","inputId":null,"outputId":"1010","regexPattern":null,"color":null,"children":null},{"description":"Taste","inputId":null,"outputId":"1011","regexPattern":null,"color":null,"children":null}]}]}],"overwrite":false}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddCodesIntoCodebooksBatchResponse"
                },
                "example": {"codebooksBatch":[{"codebookKey":1234567,"codebook":[{"key":53853256,"description":"Likes","inputId":null,"outputId":"1000","regexPattern":null,"color":"#00FF00","children":[{"key":53853257,"description":"Color","inputId":null,"outputId":"1001","regexPattern":null,"color":null,"children":null},{"key":53853258,"description":"Taste","inputId":null,"outputId":"1002","regexPattern":null,"color":null,"children":null}]},{"key":53853259,"description":"Dislikes","inputId":null,"outputId":"1003","regexPattern":null,"color":"#FF0000","children":[{"key":53853260,"description":"Color","inputId":null,"outputId":"1004","regexPattern":null,"color":null,"children":null},{"key":53853261,"description":"Taste","inputId":null,"outputId":"1005","regexPattern":null,"color":null,"children":null}]}],"errorMessage":null},{"codebookKey":2345678,"codebook":null,"errorMessage":"Some error happens during inserting of new codes into codebook with key '2345678'."}],"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/Companies": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get a list of Companies",
        "description": "This operation returns the key and ID of all Companies in the Ascribe Account.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompaniesResponse"
                },
                "example": {"companies":[{"key":3,"id":"ACME"},{"key":5,"id":"AAA Research"}],"errorMessage":null}
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Companies"
        ],
        "summary": "Create a new Company",
        "description": "The id assigned to the company must not already exist.\r\n\r\nThe maximum length of the id is 100 characters.\r\nThe id must not begin with an underscore character '_'.",
        "requestBody": {
          "description": "The information for the new Company.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNewCompanyRequest"
              },
              "example": {"id":"ACME"}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNewCompanyRequest"
              },
              "example": {"id":"ACME"}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNewCompanyRequest"
              },
              "example": {"id":"ACME"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNewCompanyResponse"
                },
                "example": {"key":3,"id":"ACME","errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/Exports": {
      "get": {
        "tags": [
          "Exports"
        ],
        "summary": "Retrieves a list of all scripts available to the current account, including global scripts.",
        "description": "Method returns a list of all script definitions which are available in current account, including all global ones.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetScriptsResponse"
                },
                "example": {"scripts":[{"key":5,"name":"Translation Complete Report","description":"Uses the specified closed-end as language data to identify translation production by question","isForceToTextOption":true,"friendlyName":"Translation Report","acceptsQuestionList":true,"modifiesData":false,"purpose":"Export","parameters":[{"key":1,"name":"Language/Country question","description":null,"verifyRegEx":null,"ordinal":0,"isRequired":true,"parameterType":"String"},{"key":2,"name":"Email list","description":null,"verifyRegEx":null,"ordinal":0,"isRequired":false,"parameterType":"String"}]},{"key":6,"name":"ORC MP3 loader","description":"","isForceToTextOption":false,"friendlyName":"ORC Audio Loader","acceptsQuestionList":false,"modifiesData":true,"purpose":"DataUpdate","parameters":[]}],"errorMessage":null}
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Exports"
        ],
        "summary": "Initiates a new export job",
        "description": "Method initiates a new export job by using specified script and target questions and returns back a unique key of it.\r\n\r\nThe Job key should be used as inner parameter for **/Exports/{jobKey}** method.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportsRequest"
              },
              "example": {"studyKey":20000,"questionKeys":[1005,1006,1007],"scriptKey":1,"parameters":["1000","test","export","3"],"exportAsText":true}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportsRequest"
              },
              "example": {"studyKey":20000,"questionKeys":[1005,1006,1007],"scriptKey":1,"parameters":["1000","test","export","3"],"exportAsText":true}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ExportsRequest"
              },
              "example": {"studyKey":20000,"questionKeys":[1005,1006,1007],"scriptKey":1,"parameters":["1000","test","export","3"],"exportAsText":true}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportsResponse"
                },
                "example": {"jobKey":1000110,"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/Exports/{jobKey}": {
      "get": {
        "tags": [
          "Exports"
        ],
        "summary": "Retrieves a current status of specified job",
        "description": "This method expects a job key as an input parameter from the **[POST] /Exports** method.\r\n\r\nIt returns information about current status of exporting of the job or result.\r\n\r\nIf the job is not yet completed, the method should be called again after a delay.\r\n\r\nContinue calling this method until the job is either completed or rejected due to an error.",
        "parameters": [
          {
            "name": "jobKey",
            "in": "path",
            "description": "Key of job",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ExportsJobStatusResponse"
                },
                "example": {"jobKey":1000110,"userKey":1003,"type":6,"status":0,"createDate":"2026-06-13T20:21:47.1884173Z","startDate":null,"endDate":null,"info":"Some information","error":"Message of excception if it occured while export operation","resultFileUri":"https://app.goascribe.us/JobResults/Tower1/20133/55dcac9c-5c88-4623-95ad-214f54a72a8b/file.xlsx","errorMessage":null}
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportsJobStatusResponse"
                },
                "example": {"jobKey":1000110,"userKey":1003,"type":6,"status":0,"createDate":"2026-06-13T20:21:47.1884173Z","startDate":null,"endDate":null,"info":"Some information","error":"Message of excception if it occured while export operation","resultFileUri":"https://app.goascribe.us/JobResults/Tower1/20133/55dcac9c-5c88-4623-95ad-214f54a72a8b/file.xlsx","errorMessage":null}
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportsJobStatusResponse"
                },
                "example": {"jobKey":1000110,"userKey":1003,"type":6,"status":0,"createDate":"2026-06-13T20:21:47.1884173Z","startDate":null,"endDate":null,"info":"Some information","error":"Message of excception if it occured while export operation","resultFileUri":"https://app.goascribe.us/JobResults/Tower1/20133/55dcac9c-5c88-4623-95ad-214f54a72a8b/file.xlsx","errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/Languages/Translate": {
      "get": {
        "tags": [
          "Languages"
        ],
        "summary": "Returns the languages supported for translation",
        "description": "The Code for a language is used to specify the language when translating responses.\r\n\r\nThe Name for a language is suitable for display on a user interface.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetLanguagesToTranslateResponse"
                },
                "example": {"languages":[{"code":"en","name":"English"},{"code":"de","name":"German"},{"code":"fr","name":"French"},{"code":"uk","name":"Ukrainian"}],"errorMessage":null}
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLanguagesToTranslateResponse"
                },
                "example": {"languages":[{"code":"en","name":"English"},{"code":"de","name":"German"},{"code":"fr","name":"French"},{"code":"uk","name":"Ukrainian"}],"errorMessage":null}
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLanguagesToTranslateResponse"
                },
                "example": {"languages":[{"code":"en","name":"English"},{"code":"de","name":"German"},{"code":"fr","name":"French"},{"code":"uk","name":"Ukrainian"}],"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/Questions/{studyKey}": {
      "get": {
        "tags": [
          "Questions"
        ],
        "summary": "Get the Questions in a Study",
        "description": "Retrieves by default all of the Questions in the Study.\r\n\r\nYou can optionally retrieve only a sub-set of the questions, filtering by the question type or the tasks assigned to the question.",
        "parameters": [
          {
            "name": "studyKey",
            "in": "path",
            "description": "The key of the Study, which must be an integer value.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Optional filter by Question type.\r\n\r\n            If omitted, Questions of all types are returned.\r\n\r\n            If present, a string containing these characters, the presence of which specifies the type of Question desired:\r\n<ul><li>c: Closed\r\n</li><li>d: Data\r\n</li><li>o: Open\r\n</li><li>s: Other/Specify\r\n</li><li>v: Value\r\n</li></ul>\r\n            For example, the value 'so' (or 'os') returns Open and Other/Specify Questions.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tasks",
            "in": "query",
            "description": "Optional filter by task.\r\n\r\nIf omitted, Questions are not filtered by task.\r\n\r\nIf present, a string containing these characters, the presence of which specified the task assigned to a Question:\r\n<ul><li>c: Code this Question\r\n</li><li>x: Crosstab this Question\r\n</li><li>b: Transcribe this Question\r\n</li><li>t: Translate this Question\r\n</li></ul>\r\nFor example, the value ('ct' or 'tc') returns Questions with the Code or Translate tasks set.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuestionsResponse"
                },
                "example": {"questions":[{"key":8753,"codebookKey":2357,"id":"Q1","countResponses":5896,"countResponsesCoded":1002,"countTranscriptions":50,"countTranslations":97,"countQualityReviewed":0,"tasks":"cbt","type":"o","label":"Likes","text":"What did you like about the product?","help":null,"sortOrder":null,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":null},{"key":8754,"codebookKey":458,"id":"G","countResponses":6336,"countResponsesCoded":6336,"countTranscriptions":0,"countTranslations":0,"countQualityReviewed":0,"tasks":"c","type":"c","label":"Gender","text":"What is your gender?","help":null,"sortOrder":null,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":null}],"errorMessage":null}
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuestionsResponse"
                },
                "example": {"questions":[{"key":8753,"codebookKey":2357,"id":"Q1","countResponses":5896,"countResponsesCoded":1002,"countTranscriptions":50,"countTranslations":97,"countQualityReviewed":0,"tasks":"cbt","type":"o","label":"Likes","text":"What did you like about the product?","help":null,"sortOrder":null,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":null},{"key":8754,"codebookKey":458,"id":"G","countResponses":6336,"countResponsesCoded":6336,"countTranscriptions":0,"countTranslations":0,"countQualityReviewed":0,"tasks":"c","type":"c","label":"Gender","text":"What is your gender?","help":null,"sortOrder":null,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":null}],"errorMessage":null}
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuestionsResponse"
                },
                "example": {"questions":[{"key":8753,"codebookKey":2357,"id":"Q1","countResponses":5896,"countResponsesCoded":1002,"countTranscriptions":50,"countTranslations":97,"countQualityReviewed":0,"tasks":"cbt","type":"o","label":"Likes","text":"What did you like about the product?","help":null,"sortOrder":null,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":null},{"key":8754,"codebookKey":458,"id":"G","countResponses":6336,"countResponsesCoded":6336,"countTranscriptions":0,"countTranslations":0,"countQualityReviewed":0,"tasks":"c","type":"c","label":"Gender","text":"What is your gender?","help":null,"sortOrder":null,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":null}],"errorMessage":null}
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Questions"
        ],
        "summary": "Create a new Question in the specified Study",
        "description": "If the codebook key is not specified in the request a new empty codebook is created for the question and its key is returned in the response.",
        "parameters": [
          {
            "name": "studyKey",
            "in": "path",
            "description": "The key of the Study, which must be an integer value.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Information about the Question to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQuestionRequest"
              },
              "example": {"codebookKey":null,"id":"Q1","tasks":"cb","type":"o","label":"Likes","text":"What did you like about the product?","help":"Any help string for the product","sortOrder":10,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":null}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQuestionRequest"
              },
              "example": {"codebookKey":null,"id":"Q1","tasks":"cb","type":"o","label":"Likes","text":"What did you like about the product?","help":"Any help string for the product","sortOrder":10,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":null}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQuestionRequest"
              },
              "example": {"codebookKey":null,"id":"Q1","tasks":"cb","type":"o","label":"Likes","text":"What did you like about the product?","help":"Any help string for the product","sortOrder":10,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":null}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateQuestionResponse"
                },
                "example": {"key":348,"codebookKey":4589,"id":"Q1","tasks":"ct","type":"o","label":"Likes","text":"What did you like about the product?","help":"Any help string for the product","sortOrder":10,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":"external_question_id_12345","errorMessage":null}
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateQuestionResponse"
                },
                "example": {"key":348,"codebookKey":4589,"id":"Q1","tasks":"ct","type":"o","label":"Likes","text":"What did you like about the product?","help":"Any help string for the product","sortOrder":10,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":"external_question_id_12345","errorMessage":null}
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateQuestionResponse"
                },
                "example": {"key":348,"codebookKey":4589,"id":"Q1","tasks":"ct","type":"o","label":"Likes","text":"What did you like about the product?","help":"Any help string for the product","sortOrder":10,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":"external_question_id_12345","errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/Questions/AutoCode/{questionKey}/{loadKey}": {
      "post": {
        "tags": [
          "Questions"
        ],
        "summary": "Initiate autocoding of responses in the specified question",
        "description": "There are three types of AutoCoding available, and will be executed in a certain order.  See the documentation for the body of the POST.",
        "parameters": [
          {
            "name": "questionKey",
            "in": "path",
            "description": "The key of the question, which must be an integer value",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadKey",
            "in": "path",
            "description": "Key of load",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Auto coding options",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoCodeQuestionRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoCodeQuestionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AutoCodeQuestionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AutoCodeQuestionResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoCodeQuestionResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoCodeQuestionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Questions/{questionKey}/{entityType}": {
      "delete": {
        "tags": [
          "Questions"
        ],
        "summary": "Delete an existing question or its linked entities",
        "description": "Method deletes the question or its linked entities such as Codes, QualityCodes, Responses.",
        "parameters": [
          {
            "name": "questionKey",
            "in": "path",
            "description": "Key of question which should be removed by itself or should be removed its linked entities",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "entityType",
            "in": "path",
            "description": "One of following values: \"Codes\", \"QualityCodes\", \"Responses\", \"Question\"",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteQuestionResponse"
                },
                "example": {"entityType":"Codes","entityItemsDeleted":456,"errorMessage":null}
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteQuestionResponse"
                },
                "example": {"entityType":"Codes","entityItemsDeleted":456,"errorMessage":null}
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteQuestionResponse"
                },
                "example": {"entityType":"Codes","entityItemsDeleted":456,"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/Questions/Translate": {
      "post": {
        "tags": [
          "Questions"
        ],
        "summary": "Translate responses in the specified question",
        "description": "Method scans all untranslated yet responses in the specified question and translates them to target language.\r\n\r\nMethod returns some useful statistics about translating operation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranslateQuestionRequest"
              },
              "example": {"questionKey":10000,"targetLanguageCode":"uk"}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TranslateQuestionRequest"
              },
              "example": {"questionKey":10000,"targetLanguageCode":"uk"}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TranslateQuestionRequest"
              },
              "example": {"questionKey":10000,"targetLanguageCode":"uk"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TranslateQuestionResponse"
                },
                "example": {"questionKey":10000,"responsesCount":0,"translationsCount":5000,"nonTranslatedResponsesCount":0,"transactionsCount":15000,"errorMessage":null}
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslateQuestionResponse"
                },
                "example": {"questionKey":10000,"responsesCount":0,"translationsCount":5000,"nonTranslatedResponsesCount":0,"transactionsCount":15000,"errorMessage":null}
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslateQuestionResponse"
                },
                "example": {"questionKey":10000,"responsesCount":0,"translationsCount":5000,"nonTranslatedResponsesCount":0,"transactionsCount":15000,"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/Questions/Codebook/{questionKey}/{codebookKey}": {
      "post": {
        "tags": [
          "Questions"
        ],
        "summary": "Set a codebook for some specified question",
        "description": "Method sets the specified codebook to the specified question.",
        "parameters": [
          {
            "name": "questionKey",
            "in": "path",
            "description": "Key of a question",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codebookKey",
            "in": "path",
            "description": "Key of a codebook to set",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SetQuestionCodebookResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetQuestionCodebookResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetQuestionCodebookResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Questions/{studyKey}/Batch": {
      "post": {
        "tags": [
          "Questions"
        ],
        "summary": "Creates new questions in the specified study by using one call to API",
        "description": "This method expects an array of questions to create in specified study.\r\n\r\n\r\n  \r\nquestion.type property uses following coding schema: \r\n<ul><li>c: Closed\r\n</li><li>d: Data\r\n</li><li>o: Open\r\n</li><li>s: Other/Specify\r\n</li><li>v: Value\r\n</li></ul>\r\nFor example, the value 'so' (or 'os') returns Open and Other/Specify Questions.\r\n\r\n\r\n \r\nquestion.tasks property uses following coding schema: \r\n<ul><li>c: Code this Question\r\n</li><li>x: Crosstab this Question\r\n</li><li>b: Transcribe this Question\r\n</li><li>t: Translate this Question\r\n</li></ul>\r\nFor example, the value ('ct' or 'tc') adjust Question with the Code or Translate tasks set.\r\n\r\n\r\n\r\nquestion.codingSource and question.alternativeCodingSource properties use following codes: \r\n<ul><li>v: Verbatim\r\n</li><li>b: Transcription\r\n</li><li>t: Translation\r\n</li><li>empty string: None\r\n</li></ul>",
        "parameters": [
          {
            "name": "studyKey",
            "in": "path",
            "description": "Key of target study",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Batch of question definitions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQuestionsBatchRequest"
              },
              "example": {"questions":[{"codebookKey":null,"id":"Q1","tasks":"cb","type":"o","label":"Likes","text":"What did you like about the product?","help":"Any help string for the product","sortOrder":10,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":null},{"codebookKey":null,"id":"Q2","tasks":"cb","type":"o","label":"Dislikes","text":"What did you dislike about the product?","help":"Any help string for the product","sortOrder":20,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":null},{"codebookKey":null,"id":"Q3","tasks":"c","type":"c","label":"Country","text":"Where are you from?","help":"Your country","sortOrder":30,"codingSource":"v","alternativeCodingSource":"","externalQuestionId":null}]}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQuestionsBatchRequest"
              },
              "example": {"questions":[{"codebookKey":null,"id":"Q1","tasks":"cb","type":"o","label":"Likes","text":"What did you like about the product?","help":"Any help string for the product","sortOrder":10,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":null},{"codebookKey":null,"id":"Q2","tasks":"cb","type":"o","label":"Dislikes","text":"What did you dislike about the product?","help":"Any help string for the product","sortOrder":20,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":null},{"codebookKey":null,"id":"Q3","tasks":"c","type":"c","label":"Country","text":"Where are you from?","help":"Your country","sortOrder":30,"codingSource":"v","alternativeCodingSource":"","externalQuestionId":null}]}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQuestionsBatchRequest"
              },
              "example": {"questions":[{"codebookKey":null,"id":"Q1","tasks":"cb","type":"o","label":"Likes","text":"What did you like about the product?","help":"Any help string for the product","sortOrder":10,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":null},{"codebookKey":null,"id":"Q2","tasks":"cb","type":"o","label":"Dislikes","text":"What did you dislike about the product?","help":"Any help string for the product","sortOrder":20,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":null},{"codebookKey":null,"id":"Q3","tasks":"c","type":"c","label":"Country","text":"Where are you from?","help":"Your country","sortOrder":30,"codingSource":"v","alternativeCodingSource":"","externalQuestionId":null}]}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateQuestionsBatchResponse"
                },
                "example": {"studyKey":35987,"questions":[{"key":348,"codebookKey":4589,"id":"Q1","tasks":"cb","type":"o","label":"Likes","text":"What did you like about the product?","help":"Any help string for the product","sortOrder":10,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":"external_question_id_12345","errorMessage":null},{"key":349,"codebookKey":4589,"id":"Q2","tasks":"cb","type":"o","label":"Likes","text":"What did you dislike about the product?","help":"Any help string for the product","sortOrder":10,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":null,"errorMessage":null},{"key":350,"codebookKey":4589,"id":"Q3","tasks":"c","type":"c","label":"Country","text":"Where are you from?","help":"Your country","sortOrder":30,"codingSource":"v","alternativeCodingSource":"","externalQuestionId":"external_question_id_67890","errorMessage":null}],"failedQuestions":null,"errorMessage":null}
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateQuestionsBatchResponse"
                },
                "example": {"studyKey":35987,"questions":[{"key":348,"codebookKey":4589,"id":"Q1","tasks":"cb","type":"o","label":"Likes","text":"What did you like about the product?","help":"Any help string for the product","sortOrder":10,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":"external_question_id_12345","errorMessage":null},{"key":349,"codebookKey":4589,"id":"Q2","tasks":"cb","type":"o","label":"Likes","text":"What did you dislike about the product?","help":"Any help string for the product","sortOrder":10,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":null,"errorMessage":null},{"key":350,"codebookKey":4589,"id":"Q3","tasks":"c","type":"c","label":"Country","text":"Where are you from?","help":"Your country","sortOrder":30,"codingSource":"v","alternativeCodingSource":"","externalQuestionId":"external_question_id_67890","errorMessage":null}],"failedQuestions":null,"errorMessage":null}
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateQuestionsBatchResponse"
                },
                "example": {"studyKey":35987,"questions":[{"key":348,"codebookKey":4589,"id":"Q1","tasks":"cb","type":"o","label":"Likes","text":"What did you like about the product?","help":"Any help string for the product","sortOrder":10,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":"external_question_id_12345","errorMessage":null},{"key":349,"codebookKey":4589,"id":"Q2","tasks":"cb","type":"o","label":"Likes","text":"What did you dislike about the product?","help":"Any help string for the product","sortOrder":10,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":null,"errorMessage":null},{"key":350,"codebookKey":4589,"id":"Q3","tasks":"c","type":"c","label":"Country","text":"Where are you from?","help":"Your country","sortOrder":30,"codingSource":"v","alternativeCodingSource":"","externalQuestionId":"external_question_id_67890","errorMessage":null}],"failedQuestions":null,"errorMessage":null}
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Questions"
        ],
        "summary": "Adds new or updates existing questions in the specified study by using one call to API",
        "description": "This method expects an array of questions to update them in specified study.\r\n\r\n\r\n  \r\nquestion.type property uses following coding schema: \r\n<ul><li>c: Closed\r\n</li><li>d: Data\r\n</li><li>o: Open\r\n</li><li>s: Other/Specify\r\n</li><li>v: Value\r\n</li></ul>\r\n\r\n \r\nquestion.tasks property uses following coding schema: \r\n<ul><li>c: Code this Question\r\n</li><li>x: Crosstab this Question\r\n</li><li>b: Transcribe this Question\r\n</li><li>t: Translate this Question\r\n</li></ul>\r\n\r\n\r\nquestion.codingSource and question.alternativeCodingSource properties use following codes: \r\n<ul><li>v: Verbatim\r\n</li><li>b: Transcription\r\n</li><li>t: Translation\r\n</li><li>empty string: None\r\n</li></ul>",
        "parameters": [
          {
            "name": "studyKey",
            "in": "path",
            "description": "Key of target study",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Batch of question definitions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateQuestionsBatchRequest"
              },
              "example": {"questions":[{"key":200001,"id":null,"tasks":"ct","type":null,"label":"Likes","text":"Updated title of q1","help":"Any help string for the product","sortOrder":10,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":null},{"key":200002,"id":null,"tasks":null,"type":null,"label":"Dislikes","text":"What did you like about the product?","help":"Any help string for the product","sortOrder":20,"codingSource":"t","alternativeCodingSource":"b","externalQuestionId":null},{"key":200003,"id":null,"tasks":"b","type":null,"label":"Neutral Neutral Neutral Neutral Neutral Neutral Neutral Neutral","text":"What did you like about the product?","help":"Any help string for the product","sortOrder":30,"codingSource":"","alternativeCodingSource":"","externalQuestionId":null}]}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateQuestionsBatchRequest"
              },
              "example": {"questions":[{"key":200001,"id":null,"tasks":"ct","type":null,"label":"Likes","text":"Updated title of q1","help":"Any help string for the product","sortOrder":10,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":null},{"key":200002,"id":null,"tasks":null,"type":null,"label":"Dislikes","text":"What did you like about the product?","help":"Any help string for the product","sortOrder":20,"codingSource":"t","alternativeCodingSource":"b","externalQuestionId":null},{"key":200003,"id":null,"tasks":"b","type":null,"label":"Neutral Neutral Neutral Neutral Neutral Neutral Neutral Neutral","text":"What did you like about the product?","help":"Any help string for the product","sortOrder":30,"codingSource":"","alternativeCodingSource":"","externalQuestionId":null}]}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateQuestionsBatchRequest"
              },
              "example": {"questions":[{"key":200001,"id":null,"tasks":"ct","type":null,"label":"Likes","text":"Updated title of q1","help":"Any help string for the product","sortOrder":10,"codingSource":"v","alternativeCodingSource":"b","externalQuestionId":null},{"key":200002,"id":null,"tasks":null,"type":null,"label":"Dislikes","text":"What did you like about the product?","help":"Any help string for the product","sortOrder":20,"codingSource":"t","alternativeCodingSource":"b","externalQuestionId":null},{"key":200003,"id":null,"tasks":"b","type":null,"label":"Neutral Neutral Neutral Neutral Neutral Neutral Neutral Neutral","text":"What did you like about the product?","help":"Any help string for the product","sortOrder":30,"codingSource":"","alternativeCodingSource":"","externalQuestionId":null}]}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateQuestionsBatchResponse"
                },
                "example": {"failedQuestions":[{"key":"200003","errorMessage":"Some error message"}],"newQuestions":[],"errorMessage":"Some questions were not updated. See failedQuestions for details."}
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateQuestionsBatchResponse"
                },
                "example": {"failedQuestions":[{"key":"200003","errorMessage":"Some error message"}],"newQuestions":[],"errorMessage":"Some questions were not updated. See failedQuestions for details."}
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateQuestionsBatchResponse"
                },
                "example": {"failedQuestions":[{"key":"200003","errorMessage":"Some error message"}],"newQuestions":[],"errorMessage":"Some questions were not updated. See failedQuestions for details."}
              }
            }
          }
        }
      }
    },
    "/Questions/Batch": {
      "delete": {
        "tags": [
          "Questions"
        ],
        "summary": "Deletes specified questions or their items by using one call to API",
        "description": "This method expects an array of question keys and entity type.\r\n\r\nEntity type:\r\n\r\nCodes - removes applied codes from questions responses;\r\n\r\nQualityCodes - removes quality codes from questions responses;\r\n\r\nResponses - removes questions responses;\r\n\r\nQuestion - removes questons;\r\n\r\nResponse will contain information about result of operation for each of handled questions.\r\n \r\nIf errorMessage is null it means that question/its items succeccfully deleted without error(s).",
        "requestBody": {
          "description": "Array of question keys and entity type",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteQuestionsBatchRequest"
              },
              "example": {"questionKeys":[200001,2000002,2000003],"entityType":"Codes"}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteQuestionsBatchRequest"
              },
              "example": {"questionKeys":[200001,2000002,2000003],"entityType":"Codes"}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteQuestionsBatchRequest"
              },
              "example": {"questionKeys":[200001,2000002,2000003],"entityType":"Codes"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteQuestionsBatchResponse"
                },
                "example": {"deleteQuestionsBatchResults":[{"questionKey":200001,"errorMessage":null},{"questionKey":200002,"errorMessage":null},{"questionKey":200003,"errorMessage":"Some error message"}],"entityType":"Codes","entityItemsDeleted":2453,"errorMessage":null}
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteQuestionsBatchResponse"
                },
                "example": {"deleteQuestionsBatchResults":[{"questionKey":200001,"errorMessage":null},{"questionKey":200002,"errorMessage":null},{"questionKey":200003,"errorMessage":"Some error message"}],"entityType":"Codes","entityItemsDeleted":2453,"errorMessage":null}
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteQuestionsBatchResponse"
                },
                "example": {"deleteQuestionsBatchResults":[{"questionKey":200001,"errorMessage":null},{"questionKey":200002,"errorMessage":null},{"questionKey":200003,"errorMessage":"Some error message"}],"entityType":"Codes","entityItemsDeleted":2453,"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/Responses/{QuestionKey}/{RespondentID}": {
      "delete": {
        "tags": [
          "Responses"
        ],
        "summary": "Delete a response from the database by using pair of question key and respondent id",
        "description": "Method deletes the response by using question key and respondent id.",
        "parameters": [
          {
            "name": "QuestionKey",
            "in": "path",
            "description": "Key of question",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "RespondentID",
            "in": "path",
            "description": "ID of respondent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponseResponse"
                },
                "example": {"errorMessage":null}
              }
            }
          }
        }
      }
    },
    "/Responses/Batch": {
      "delete": {
        "tags": [
          "Responses"
        ],
        "summary": "Delete a batch of responses from the database by using pairs of question key and respondent id",
        "description": "Method deletes a batch of responses by using pairs of question key and respondent id.",
        "requestBody": {
          "description": "Array of pairs of question key and respondent id.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteResponsesBatchRequest"
              },
              "example": {"questionResponses":[{"questionKey":55,"respondentIDs":["100001","100002"]},{"questionKey":56,"respondentIDs":["200001"]},{"questionKey":57,"respondentIDs":["300001","300002","300003"]}]}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteResponsesBatchRequest"
              },
[...]
