openapi: 3.2.0
info:
  title: Ascribe Coder Users API
  description: To import this API to Postman, copy the URL from the top of this page.
  contact:
    email: support@goascribe.com
  version: v2
servers:
- url: https://api.goascribe.us/coder/v2
  description: US Servers
- url: https://api.goascribe.eu/coder/v2
  description: EU Servers
- url: https://api-ca.goascribe.com/coder/v2
  description: CA Servers
security:
- Bearer: []
tags:
- name: Users
paths:
  /Users:
    get:
      tags:
      - Users
      summary: Get a list of Users
      description: This operation returns the key and ID of all Users in the Ascribe Account.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersResponse'
              example:
                users:
                - key: 3
                  id: John Doe
                - key: 5
                  id: Mr. Beast
                errorMessage: null
      operationId: getUsers
      x-operation-id-source: derived
components:
  schemas:
    GetUsersResponse:
      required:
      - users
      type: object
      properties:
        errorMessage:
          type:
          - string
          - 'null'
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
          description: A list of users.
      additionalProperties: false
      description: The users property contains a list of users.
    User:
      required:
      - id
      - key
      type: object
      properties:
        key:
          type: integer
          description: The key for this user.  The key for a user cannot be changed, and will always identify that user in the account.
          format: int32
        id:
          minLength: 1
          type: string
          description: The user's logon id.  This value is unique by case-insensitive comparison across all users in the account.  However, this value may be changed by an administrator of the account.
      additionalProperties: false
      description: Information about a user.
  securitySchemes:
    Bearer:
      type: http
      description: 'Please enter a valid bearer token.


        It should be in the format "bearer eyJhbGciOiJSU..."


        It will be added to the "Authentication" HTTP header'
      scheme: Bearer
      bearerFormat: JWT
