openapi: 3.2.0
info:
  title: Ascribe Coder Sessions API
  description: To import this API to Postman, copy the URL from the top of this page.
  contact:
    email: support@goascribe.com
  version: v2
servers:
- url: https://api.goascribe.us/coder/v2
  description: US Servers
- url: https://api.goascribe.eu/coder/v2
  description: EU Servers
- url: https://api-ca.goascribe.com/coder/v2
  description: CA Servers
security:
- Bearer: []
tags:
- name: Sessions
paths:
  /Session/New:
    post:
      tags:
      - Sessions
      summary: Create a new session for interaction with this API
      description: 'The credentialed user must have Adminstrator privilege in Ascribe.


        The response message contains two tokens, one of which must be passed in a header for all other operations with this API.


        You may either use the bearerToken or the authenticationToken. Either send a header with key "authentication" and value the authenticationToken returned in this response,

        or send a header with key "Authorization" and value the bearerToken returned in this response.


        The bearerToken does not expire, but will become invalid if the user''s credentials change.


        The authenticationToken remains valid until no request is sent to this API using the authenticationToken for 30 minutes.'
      requestBody:
        description: The credentials for the session.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSessionRequest'
            example:
              account: MyAscribeAccount
              userName: john.doe
              password: '--------'
          text/json:
            schema:
              $ref: '#/components/schemas/NewSessionRequest'
            example:
              account: MyAscribeAccount
              userName: john.doe
              password: '--------'
          application/*+json:
            schema:
              $ref: '#/components/schemas/NewSessionRequest'
            example:
              account: MyAscribeAccount
              userName: john.doe
              password: '--------'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewSessionResponse'
              example:
                authenticationToken: 0a6b6255-7e8b-4b71-bb93-1d568110ddae
                bearerToken: bearer eyJhbGciOiJSUzI1NiIsInR5cC ... WiiVzXPhdgSWNvH1hNOIirNmg
                errorMessage: null
      operationId: postSessionNew
      x-operation-id-source: derived
components:
  schemas:
    NewSessionResponse:
      required:
      - authenticationToken
      - bearerToken
      type: object
      properties:
        errorMessage:
          type:
          - string
          - 'null'
        authenticationToken:
          type: string
          format: uuid
        bearerToken:
          minLength: 1
          type: string
      additionalProperties: false
    NewSessionRequest:
      required:
      - account
      - password
      - userName
      type: object
      properties:
        account:
          minLength: 1
          type: string
        userName:
          minLength: 1
          type: string
        password:
          minLength: 1
          type: string
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: 'Please enter a valid bearer token.


        It should be in the format "bearer eyJhbGciOiJSU..."


        It will be added to the "Authentication" HTTP header'
      scheme: Bearer
      bearerFormat: JWT
